{"openapi":"3.0.2","info":{"title":"Social Media Scraping API Documentation | EnsembleData","description":"<p style='font-size: 17px;'>\t<br>   <b><i>EnsembleData</i></b> is a social media data provider since 2020. We provide <b>unrestricted and publicly available data</b> extracted <b>in real-time</b> from the social media.   <br><br>   Our platform handles millions of requests daily. We do not enforce <b>rate limits</b> due to our ability to rapidly scale our infrastructure based on demand.   <br><br>   Our platform currency is the so-called <b>units</b>. The units charged per request depend on the <b>complexity</b> of the API and the passed <b>parameters</b>. A detailed description of the units charged can be found in each corresponding API documentation.   <br><br>   <b>Check out our <a href='https://ensembledata.com/pricing' target='_blank'>pricing</a>. Any questions? <a href='https://ensembledata.com/contact' target='_blank'>Contact us</a>.</b>\t<br><br>   <a target='_blank' href='https://dashboard.ensembledata.com/register' class='sc-bsatvv bpmBWn'><b>Sign up for a free trial.</b></a>   <br><br>   <a target='_blank' href='https://elements.getpostman.com/view/fork?collection=33901342-37bb76fa-5bc5-4342-94b5-3a6f884daabd&workspaceId=6814d503-bded-4cc4-94fa-6470fdaf4f97'><b>Run our APIs with Postman!</b></a></p>","version":""},"servers":[{"url":"https://ensembledata.com/apis/"}],"paths":{"/customer/get-used-units":{"get":{"tags":["Customer"],"summary":"Get Units Used","description":"<p style=\"font-size: 15px;\">\tThis API allows ours clients to check the number of units used on a certain date.</p><h3>  <u>API Pricing (per request)</u>: <b style=\"color: #E07A57;\">0</b> units</h3><h4>API usage examples</h4>\n\n- Token does not exist:<br><b>-></b> Error code 491 returned.<br>Cost: <b style=\"color: #E07A57;\">0 units</b>\n\n- Token exists:<br><b>-></b> Units usage for date returned.<br>Cost: <b style=\"color: #E07A57;\">0 units</b>\n\n<br><a style=\"font-size: 17px;\" target=\"_blank\" href=\"https://ensembledata.com/apis/customer/get-used-units?date=2022-11-19&token=YOUR_TOKEN_HERE\">   <b>\t\t<u>Try the API</u>   </b></a>","operationId":"customer_get_usage","parameters":[{"description":"Date for which units usage has to be fetched","required":true,"schema":{"title":"Date","type":"string","description":"Date for which units usage has to be fetched"},"example":"2022-11-19","name":"date","in":"query"},{"description":"Private token assigned to each client to access the APIs.","required":true,"schema":{"title":"Token","maxLength":24,"minLength":12,"type":"string","description":"Private token assigned to each client to access the APIs."},"example":"YOUR_TOKEN_HERE","name":"token","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{},"example":{"data":{"tiktok":2367,"instagram":802,"reddit":83,"youtube":1209,"twitch":232}}}}},"491":{"description":"Token not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPStatusResponse"},"example":{"detail":"Token not found, please sign up at https://dashboard.ensembledata.com/register"}}}},"500":{"description":"Something went wrong","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPStatusResponse"},"example":{"detail":"Internal error."}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-cost":0,"x-cost_examples":[["Token does not exist","Error code 491",0],["Token exists","Units usage for date",0]],"x-codeSamples":[{"lang":"Python","label":"Python (requests)","source":"import requests\n\nroot = \"https://ensembledata.com/apis\"\nendpoint = \"/customer/get-used-units\"\nparams = {\n  \"date\": \"2022-11-19\",\n  \"token\": \"YOUR-TOKEN-HERE\"\n}\n\nres = requests.get(root+endpoint, params=params)\nprint(res.json())\n\n"},{"lang":"Python","label":"Python (our SDK)","source":"# pip install ensembledata\nfrom ensembledata.api import EDClient\n\nclient = EDClient(token=\"YOUR-TOKEN-HERE\")\nresult = client.customer.get_usage(\n    date=\"2022-11-19\",\n)\n\nprint(result.data)\nprint(result.units_charged)\n\n"},{"lang":"JavaScript","label":"JavaScript (fetch)","source":"const root = 'https://ensembledata.com/apis'\nconst endpoint = '/customer/get-used-units'\nconst params = {\n  \"date\": \"2022-11-19\",\n  \"token\": \"YOUR-TOKEN-HERE\"\n}\n\nconst queryString = new URLSearchParams(params).toString();\nconst url = `${root}${endpoint}?${queryString}`;\n\nawait fetch(url)\n  .then(response => response.json())\n  .then(data => console.log(data))\n  .catch(error => console.error(error));\n\n"},{"lang":"JavaScript","label":"JavaScript (our SDK)","source":"// npm install ensembledata\nimport { EDClient } from \"ensembledata\";\n\nconst client = new EDClient({ token: \"YOUR-TOKEN-HERE\" })\nconst result = await client.customer.getUsage({\n    date: \"2022-11-19\",\n})\n\nconsole.log(result.data)\nconsole.log(result.unitsCharged)\n\n"},{"lang":"cURL","source":"curl --compressed -s 'https://ensembledata.com/apis/customer/get-used-units?date=2022-11-19&token=YOUR-TOKEN-HERE'"}]}},"/customer/get-history":{"get":{"tags":["Customer"],"summary":"Get Units History","description":"<p style=\"font-size: 15px;\">\tThis API allows our clients to check the number of units used in the last N days from today.</p><h3>  <u>API Pricing (per request)</u>: <b style=\"color: #E07A57;\">0</b> units</h3><h4>API usage examples</h4>\n\n- Token does not exist:<br><b>-></b> Error code 491 returned.<br>Cost: <b style=\"color: #E07A57;\">0 units</b>\n\n- Token exists:<br><b>-></b> Units usage history returned.<br>Cost: <b style=\"color: #E07A57;\">0 units</b>\n\n<br><a style=\"font-size: 17px;\" target=\"_blank\" href=\"https://ensembledata.com/apis/customer/get-history?days=10&token=YOUR_TOKEN_HERE\">   <b>\t\t<u>Try the API</u>   </b></a>","operationId":"customer_get_usage_history","parameters":[{"description":"Last N days for which units usage history has to be fetched","required":true,"schema":{"title":"Days","type":"integer","description":"Last N days for which units usage history has to be fetched"},"example":10,"name":"days","in":"query"},{"description":"Private token assigned to each client to access the APIs.","required":true,"schema":{"title":"Token","maxLength":24,"minLength":12,"type":"string","description":"Private token assigned to each client to access the APIs."},"example":"YOUR_TOKEN_HERE","name":"token","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{},"example":{"data":[{"date":"2023-07-30","tiktok":2,"instagram":0,"twitch":0,"youtube":0,"reddit":0},{"date":"2023-07-29","tiktok":11737,"instagram":1603,"twitch":514,"youtube":2104,"reddit":126},{"date":"2023-07-28","tiktok":13114,"instagram":1908,"twitch":636,"youtube":2328,"reddit":168},{"date":"2023-07-27","tiktok":13164,"instagram":1995,"twitch":422,"youtube":1551,"reddit":107},{"date":"2023-07-26","tiktok":5524,"instagram":1501,"twitch":266,"youtube":1020,"reddit":78},{"date":"2023-07-25","tiktok":5619,"instagram":1680,"twitch":280,"youtube":979,"reddit":47},{"date":"2023-07-24","tiktok":5064,"instagram":1343,"twitch":258,"youtube":997,"reddit":51},{"date":"2023-07-23","tiktok":4690,"instagram":1134,"twitch":240,"youtube":958,"reddit":63},{"date":"2023-07-22","tiktok":4944,"instagram":1013,"twitch":242,"youtube":949,"reddit":54},{"date":"2023-07-21","tiktok":5734,"instagram":1357,"twitch":280,"youtube":1135,"reddit":63}]}}}},"491":{"description":"Token not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPStatusResponse"},"example":{"detail":"Token not found, please sign up at https://dashboard.ensembledata.com/register"}}}},"500":{"description":"Something went wrong","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPStatusResponse"},"example":{"detail":"Internal error."}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-cost":0,"x-cost_examples":[["Token does not exist","Error code 491",0],["Token exists","Units usage history",0]],"x-codeSamples":[{"lang":"Python","label":"Python (our SDK)","source":"# pip install ensembledata\nfrom ensembledata.api import EDClient\n\nclient = EDClient(token=\"YOUR-TOKEN-HERE\")\nresult = client.customer.get_usage_history(\n    days=10,\n)\n\nprint(result.data)\nprint(result.units_charged)\n\n"},{"lang":"JavaScript","label":"JavaScript (fetch)","source":"const root = 'https://ensembledata.com/apis'\nconst endpoint = '/customer/get-history'\nconst params = {\n  \"days\": 10,\n  \"token\": \"YOUR-TOKEN-HERE\"\n}\n\nconst queryString = new URLSearchParams(params).toString();\nconst url = `${root}${endpoint}?${queryString}`;\n\nawait fetch(url)\n  .then(response => response.json())\n  .then(data => console.log(data))\n  .catch(error => console.error(error));\n\n"},{"lang":"JavaScript","label":"JavaScript (our SDK)","source":"// npm install ensembledata\nimport { EDClient } from \"ensembledata\";\n\nconst client = new EDClient({ token: \"YOUR-TOKEN-HERE\" })\nconst result = await client.customer.getUsageHistory({\n    days: 10,\n})\n\nconsole.log(result.data)\nconsole.log(result.unitsCharged)\n\n"},{"lang":"cURL","source":"curl --compressed -s 'https://ensembledata.com/apis/customer/get-history?days=10&token=YOUR-TOKEN-HERE'"}]}},"/tt/hashtag/posts":{"get":{"tags":["Tiktok"],"summary":"Hashtag Search","description":"<p style=\"font-size: 15px;\">\tFetch chunk of posts containing a given hashtag.\n\nThe posts are fetched directly from <a href=\"https://www.tiktok.com/tag/magic\" target=\"_blank\">https://www.tiktok.com/tag/magic</a>. A single call to this endpoint returns about 20 posts. Use the `cursor` parameter to fetch more posts. (cursor=0 will fetch posts 1-20, cursor=20 will fetch posts 21-40 and so on). The maximum cursor which can be used is around 4000-5000 depending on the hashtag. See the `cursor` query parameter below for more information.</p><h3>  <u>API Pricing (per request)</u>: <b style=\"color: #E07A57;\">1</b> unit</h3><h4>API usage examples</h4>\n\n- Hashtag exists:<br><b>-></b> 20 posts returned.<br>Cost: <b style=\"color: #E07A57;\">1 unit</b>\n\n- Hashtag does not exist:<br><b>-></b> 0 posts returned.<br>Cost: <b style=\"color: #E07A57;\">1 unit</b>\n\n- Cursor is too big:<br><b>-></b> 0 posts returned.<br>Cost: <b style=\"color: #E07A57;\">1 unit</b>\n\n<br><a style=\"font-size: 17px;\" target=\"_blank\" href=\"https://ensembledata.com/apis/tt/hashtag/posts?name=magic&cursor=0&token=YOUR_TOKEN_HERE\">   <b>\t\t<u>Try the API</u>   </b></a>","operationId":"tiktok_hashtag_search","parameters":[{"description":"Hashtag to search (input without #).","required":true,"schema":{"title":"Name","type":"string","description":"Hashtag to search (input without #).","rename":"hashtag"},"example":"magic","name":"name","in":"query"},{"description":"Parameter to manually handle pagination. Each response contains a `nextCursor` which can be used to retrieve the next page of results by sending it as the next `cursor`. If the `nextCursor` is not present in the response, it means that there are no more results to retrieve.","required":false,"schema":{"title":"Cursor","type":"integer","description":"Parameter to manually handle pagination. Each response contains a `nextCursor` which can be used to retrieve the next page of results by sending it as the next `cursor`. If the `nextCursor` is not present in the response, it means that there are no more results to retrieve.","default":0},"example":0,"name":"cursor","in":"query"},{"description":"Private token assigned to each client to access the APIs.","required":true,"schema":{"title":"Token","maxLength":24,"minLength":12,"type":"string","description":"Private token assigned to each client to access the APIs."},"example":"YOUR_TOKEN_HERE","name":"token","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{},"example":{"data":{"nextCursor":20,"data":[{"bodydance_score":0,"commerce_config_data":null,"have_dashboard":false,"user_digged":0,"share_info":{"share_url":"https://m.tiktok.com/v/7123267514972294406.html?u_code=0&preview_pb=0&language=en&_d=e34e97ighfeh9a&share_item_id=7123267514972294406&source=h5_m","share_weibo_desc":"TikTok: Make Every Second CountCheck out Pete Firman’s video! #TikTok > ","share_title":"Check out Pete Firman’s video! #TikTok > ","share_link_desc":"","share_signature_url":"","share_quote":"","whatsapp_desc":"Download TikTok and watch more fun videos:","share_desc":"Check out Pete Firman's video! #TikTok","bool_persist":0,"share_title_myself":"","share_title_other":"","share_signature_desc":"","share_desc_info":"TikTok: Make Every Second CountCheck out Pete Firman’s video! #TikTok > "},"origin_comment_ids":null,"search_highlight":null,"is_vr":false,"misc_info":"{}","desc_language":"en","content_desc":"","music_begin_time_in_ms":0,"retry_type":0,"branded_content_accounts":null,"nickname_position":null,"challenge_position":null,"video_text":[],"disable_search_trending_bar":false,"label_top":{"height":720,"uri":"tiktok-obj/1598708589477025.PNG","url_list":["https://p16-sg.tiktokcdn.com/obj/tiktok-obj/1598708589477025.PNG"],"width":720},"interaction_stickers":null,"is_story":0,"aweme_id":"7123267514972294406","music":{"dmv_auto_show":false,"duration":39,"is_del_video":false,"is_restricted":false,"preview_end_time":0,"mute_share":false,"tag_list":null,"id_str":"7123267511717595909","album":"","lyric_short_position":null,"id":7123267511717595909,"redirect":false,"avatar_medium":{"uri":"tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d","url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_720x720.webp?x-expires=1668855600&x-signature=k3v9xgxQGXP%2BEZdkkxLGuUo92H8%3D","https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_720x720.jpeg?x-expires=1668855600&x-signature=jLNi0%2FbUF%2B5acZMULuWRu97Ra%2FA%3D"],"width":720,"height":720},"preview_start_time":0,"is_audio_url_with_cookie":false,"duration_high_precision":{"duration_precision":39.602,"shoot_duration_precision":39.602,"audition_duration_precision":39.602,"video_duration_precision":39.602},"end_time":0,"collect_stat":0,"prevent_download":false,"start_time":0,"binded_challenge_id":0,"prevent_item_download_status":0,"avatar_large":{"uri":"tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d","url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_1080x1080.webp?x-expires=1668855600&x-signature=1030%2BN%2FwreyKg1cKC3iDOuFCcq4%3D","https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_1080x1080.jpeg?x-expires=1668855600&x-signature=w3KlXqLxXIjBN7lZIdTIfRlb5Tc%3D"],"width":720,"height":720},"is_pgc":false,"multi_bit_rate_play_info":null,"can_not_reuse":false,"schema_url":"","sec_uid":"MS4wLjABAAAALAVFQFOSDBcQqqjfcjC5ciJUmOo3JTxw4RyPX4AGLGhH6WKeE45VDJ-_KMc1BJIb","status":1,"external_song_info":[],"mid":"7123267511717595909","audition_duration":39,"position":null,"is_original":false,"is_original_sound":true,"extra":"{\"beats\":{},\"can_read\":true,\"can_reuse\":true,\"erase_type\":0,\"erase_uid\":0,\"from_user_id\":0,\"has_edited\":0,\"is_ugc_mapping\":false,\"is_used\":1,\"owner_id\":6815875275747738630,\"resource_status\":0,\"review_unshelve_reason\":0,\"reviewed\":1,\"schedule_search_time\":0}","owner_id":"6815875275747738630","author_deleted":false,"artists":[],"cover_large":{"uri":"tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d","url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_1080x1080.webp?x-expires=1668855600&x-signature=1030%2BN%2FwreyKg1cKC3iDOuFCcq4%3D","https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_1080x1080.jpeg?x-expires=1668855600&x-signature=w3KlXqLxXIjBN7lZIdTIfRlb5Tc%3D"],"width":720,"height":720},"source_platform":72,"is_matched_metadata":false,"video_duration":39,"author":"Pete Firman","owner_nickname":"Pete Firman","strong_beat_url":{"height":720,"uri":"https://sf16-ies-music-sg.tiktokcdn.com/obj/tiktok-obj/pattern/6b35cd25fd18c1b2be026391002e505e.json","url_list":["https://sf16-ies-music-sg.tiktokcdn.com/obj/tiktok-obj/pattern/6b35cd25fd18c1b2be026391002e505e.json"],"width":720},"is_commerce_music":true,"shoot_duration":39,"search_highlight":null,"cover_hd":{"uri":"tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d","url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_1080x1080.webp?x-expires=1668855600&x-signature=1030%2BN%2FwreyKg1cKC3iDOuFCcq4%3D","https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_1080x1080.jpeg?x-expires=1668855600&x-signature=w3KlXqLxXIjBN7lZIdTIfRlb5Tc%3D"],"width":720,"height":720},"offline_desc":"","owner_handle":"petefirman","avatar_thumb":{"uri":"tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d","url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_100x100.webp?x-expires=1668855600&x-signature=NjS5G4C4AhYveErpOg5kX%2FvHibg%3D","https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_100x100.jpeg?x-expires=1668855600&x-signature=GYQpvSbX%2FHICYj8EVTOTO8%2BAzgI%3D"],"width":720,"height":720},"cover_medium":{"width":720,"height":720,"uri":"tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d","url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_720x720.webp?x-expires=1668855600&x-signature=k3v9xgxQGXP%2BEZdkkxLGuUo92H8%3D","https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_720x720.jpeg?x-expires=1668855600&x-signature=jLNi0%2FbUF%2B5acZMULuWRu97Ra%2FA%3D"]},"is_video_self_see":false,"reason_type":0,"is_play_music":false,"play_url":{"url_list":["https://sf16-ies-music-va.tiktokcdn.com/obj/musically-maliva-obj/7123267526359894790.mp3"],"width":720,"height":720,"uri":"https://sf16-ies-music-va.tiktokcdn.com/obj/musically-maliva-obj/7123267526359894790.mp3"},"author_position":null,"user_count":0,"is_author_artist":false,"title":"original sound - petefirman","cover_thumb":{"height":720,"uri":"tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d","url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_100x100.webp?x-expires=1668855600&x-signature=NjS5G4C4AhYveErpOg5kX%2FvHibg%3D","https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_100x100.jpeg?x-expires=1668855600&x-signature=GYQpvSbX%2FHICYj8EVTOTO8%2BAzgI%3D"],"width":720}},"video_labels":[],"sort_label":"","statistics":{"whatsapp_share_count":2245,"collect_count":87319,"digg_count":1124628,"share_count":6405,"lose_count":0,"lose_comment_count":0,"forward_count":0,"aweme_id":"7123267514972294406","comment_count":12088,"download_count":13792,"play_count":12457972},"distance":"","mask_infos":[],"playlist_blocked":false,"group_id":"7123267514972294406","item_comment_settings":0,"author_user_id":6815875275747738630,"prevent_download":false,"long_video":null,"item_duet":0,"has_vs_entry":false,"cover_labels":null,"share_url":"https://m.tiktok.com/v/7123267514972294406.html?u_code=0&preview_pb=0&language=en&_d=e34e97ighfeh9a&share_item_id=7123267514972294406&source=h5_m","risk_infos":{"warn":false,"risk_sink":false,"type":0,"content":"","vote":false},"geofencing":[],"with_promotional_music":false,"green_screen_materials":null,"products_info":null,"status":{"aweme_id":"7123267514972294406","allow_comment":true,"is_private":false,"with_goods":false,"private_status":0,"self_see":false,"review_result":{"review_status":0},"is_delete":false,"allow_share":true,"in_reviewing":false,"reviewed":1,"is_prohibited":false,"download_status":0},"rate":12,"label_top_text":null,"hybrid_label":null,"video":{"is_h265":0,"need_set_token":false,"dynamic_cover":{"uri":"tos-maliva-p-0068/d6a704311b574280ace13e20adbc81e5_1658514965","url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-p-0068/d6a704311b574280ace13e20adbc81e5_1658514965~tplv-dmt-logom:tos-useast2a-v-0068/6b552a951f3f451094e3192f89c7a486.image?x-expires=1668855600&x-signature=W%2Fc8eEy%2FyWuyUipu1srWUa9y1Nc%3D&s=CHALLENGE_AWEME&se=false&sh=&sc=dynamic_cover&l=2022111811440901019020802124999678"],"width":720,"height":720},"has_watermark":true,"animated_cover":{"uri":"tos-maliva-p-0068/71a6e0e63dda41c38d926c0f2e9365aa_1658514965","url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-p-0068/71a6e0e63dda41c38d926c0f2e9365aa_1658514965~tplv-dmt-logom:tos-useast2a-v-0068/6b552a951f3f451094e3192f89c7a486.image?x-expires=1668855600&x-signature=G3t6byR3RQ5QAjXq3Yk%2Bl9xK%2Bxo%3D&s=CHALLENGE_AWEME&se=false&sh=&sc=dynamic_cover&l=2022111811440901019020802124999678"]},"tags":null,"duration":39727,"download_suffix_logo_addr":{"uri":"v09044g40000cbdeqfbc77u7befvsu7g","url_list":["https://v19-us.tiktokcdn.com/8578698b0cc009c9e80c2566c1134f4e/6377c490/video/tos/useast2a/tos-useast2a-ve-0068c002/7e2e92cd1743443f8a0009d17c2e6397/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=3332&bt=1666&cs=0&ds=3&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=0&rc=OjQ8Njc4ZzNnO2YzNzkzNEBpanh5aDo6ZmloZTMzNzczM0A2MmMwM2IxXjYxXmA0MS0tYSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=25","https://v25-us.tiktokcdn.com/510777d8a47613957f4c5c28c49c8725/6377c490/video/tos/useast2a/tos-useast2a-ve-0068c002/7e2e92cd1743443f8a0009d17c2e6397/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=3332&bt=1666&cs=0&ds=3&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=0&rc=OjQ8Njc4ZzNnO2YzNzkzNEBpanh5aDo6ZmloZTMzNzczM0A2MmMwM2IxXjYxXmA0MS0tYSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=26","https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v09044g40000cbdeqfbc77u7befvsu7g&line=0&watermark=1&logo_name=tiktok_end_sonic&source=CHALLENGE_AWEME&file_id=01004674c0ac489da04de56433f95197"],"width":720,"height":720,"data_size":9305755},"play_addr_h264":{"uri":"v09044g40000cbdeqfbc77u7befvsu7g","url_list":["https://v19-us.tiktokcdn.com/73496435d96ca6a14ef061868e938c16/6377c490/video/tos/useast2a/tos-useast2a-pve-0068/6179f99c45244379a83653ba5c8c0019/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=3390&bt=1695&cs=0&ds=6&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=0&rc=OztkOTg8O2Q0NDlnZGkzNEBpanh5aDo6ZmloZTMzNzczM0BiXy5fYDU0XmExNGJhLjNfYSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=25","https://v25-us.tiktokcdn.com/1c5d69ceed1e4d703c01d9146af06e0c/6377c490/video/tos/useast2a/tos-useast2a-pve-0068/6179f99c45244379a83653ba5c8c0019/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=3390&bt=1695&cs=0&ds=6&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=0&rc=OztkOTg8O2Q0NDlnZGkzNEBpanh5aDo6ZmloZTMzNzczM0BiXy5fYDU0XmExNGJhLjNfYSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=26","https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v09044g40000cbdeqfbc77u7befvsu7g&line=0&is_play_url=1&source=PackSourceEnum_CHALLENGE_AWEME&file_id=b1601fdaed7641d1aa7889c5b61ab8e8"],"width":576,"height":1024,"url_key":"v09044g40000cbdeqfbc77u7befvsu7g_h264_540p_1736392","data_size":8622710,"file_hash":"a33af767a71631961e45e2ae77cfc954","file_cs":"c:0-33898-a341"},"cdn_url_expired":0,"ai_dynamic_cover_bak":{"url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-p-0068/71a6e0e63dda41c38d926c0f2e9365aa_1658514965~tplv-dmt-logom:tos-useast2a-v-0068/6b552a951f3f451094e3192f89c7a486.image?x-expires=1668855600&x-signature=G3t6byR3RQ5QAjXq3Yk%2Bl9xK%2Bxo%3D&s=CHALLENGE_AWEME&se=false&sh=&sc=dynamic_cover&l=2022111811440901019020802124999678"],"uri":"tos-maliva-p-0068/71a6e0e63dda41c38d926c0f2e9365aa_1658514965"},"cover":{"uri":"tos-maliva-p-0068/69f746c045a9449d9539eadd13282115_1658514975","url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-p-0068/69f746c045a9449d9539eadd13282115_1658514975~tplv-dmt-logom:tos-useast2a-v-0068/6b552a951f3f451094e3192f89c7a486.image?x-expires=1668855600&x-signature=B2rbu08ZjvGRg1fGPCL1aJK706Y%3D&s=CHALLENGE_AWEME&se=false&sh=&sc=cover&l=2022111811440901019020802124999678"],"width":720,"height":720},"height":1024,"width":576,"is_callback":true,"big_thumbs":[],"meta":"{\"loudness\":\"-23.4\",\"peak\":\"0.60954\",\"qprf\":\"1.000\",\"sr_score\":\"1.000\"}","ai_dynamic_cover":{"uri":"tos-maliva-p-0068/71a6e0e63dda41c38d926c0f2e9365aa_1658514965","url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-p-0068/71a6e0e63dda41c38d926c0f2e9365aa_1658514965~tplv-dmt-logom:tos-useast2a-v-0068/6b552a951f3f451094e3192f89c7a486.image?x-expires=1668855600&x-signature=G3t6byR3RQ5QAjXq3Yk%2Bl9xK%2Bxo%3D&s=CHALLENGE_AWEME&se=false&sh=&sc=dynamic_cover&l=2022111811440901019020802124999678"]},"ratio":"540p","download_addr":{"uri":"v09044g40000cbdeqfbc77u7befvsu7g","url_list":["https://v19-us.tiktokcdn.com/9609715c893ff055b32e02070b0a5b95/6377c490/video/tos/useast2a/tos-useast2a-ve-0068c001/f8b0b7e023fc48ffbd30fa7ed5e93505/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=3332&bt=1666&cs=0&ds=3&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=0&rc=PDdmaTdpZzYzZ2Q7N2doZ0Bpanh5aDo6ZmloZTMzNzczM0BhYDRjYy5jXjYxXi5iNDIuYSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=25","https://v25-us.tiktokcdn.com/2b995d8b992a7795a691680427ab1746/6377c490/video/tos/useast2a/tos-useast2a-ve-0068c001/f8b0b7e023fc48ffbd30fa7ed5e93505/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=3332&bt=1666&cs=0&ds=3&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=0&rc=PDdmaTdpZzYzZ2Q7N2doZ0Bpanh5aDo6ZmloZTMzNzczM0BhYDRjYy5jXjYxXi5iNDIuYSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=26","https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v09044g40000cbdeqfbc77u7befvsu7g&line=0&watermark=1&logo_name=tiktok_end&source=CHALLENGE_AWEME&file_id=1d5e7de418aa4d90a3fd1ff4ff7cc4d9"],"width":720,"height":720,"data_size":9305755},"bit_rate":[{"play_addr":{"file_cs":"c:0-34036-09f0","uri":"v09044g40000cbdeqfbc77u7befvsu7g","url_list":["https://v19-us.tiktokcdn.com/b33014d5b5c4e6455ca8b648d4d08e29/6377c490/video/tos/useast2a/tos-useast2a-pve-0068/f8a5dac5de0946f5999ff26d364269cc/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=2014&bt=1007&cs=2&ds=3&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=14&rc=NDtoN2QzZGQ0ZzZpaWQ1ZkBpanh5aDo6ZmloZTMzNzczM0A1XzIuYC0xNTExYC0zNS4wYSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=25","https://v25-us.tiktokcdn.com/d034bdef9f0e6c9264b2af5976dc2dd7/6377c490/video/tos/useast2a/tos-useast2a-pve-0068/f8a5dac5de0946f5999ff26d364269cc/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=2014&bt=1007&cs=2&ds=3&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=14&rc=NDtoN2QzZGQ0ZzZpaWQ1ZkBpanh5aDo6ZmloZTMzNzczM0A1XzIuYC0xNTExYC0zNS4wYSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=26","https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v09044g40000cbdeqfbc77u7befvsu7g&line=0&is_play_url=1&source=PackSourceEnum_CHALLENGE_AWEME&file_id=3c128a6f0fc34d418a4a00ca145eb881"],"width":720,"height":1280,"url_key":"v09044g40000cbdeqfbc77u7befvsu7g_bytevc1_720p_1031659","data_size":5123093,"file_hash":"0ceb5b8e2fb01ad595ea31a916171917"},"is_h265":1,"is_bytevc1":1,"dub_infos":null,"gear_name":"adapt_lower_720_1","quality_type":14,"bit_rate":1031659},{"is_h265":1,"is_bytevc1":1,"dub_infos":null,"gear_name":"adapt_540_1","quality_type":28,"bit_rate":873819,"play_addr":{"file_cs":"c:0-34036-9f75","uri":"v09044g40000cbdeqfbc77u7befvsu7g","url_list":["https://v19-us.tiktokcdn.com/3f95ecb1124d0dc8b6ed2c0bf37b57f2/6377c490/video/tos/useast2a/tos-useast2a-pve-0068/e0f241f29b4045acbbf33f94c1a4a856/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=1706&bt=853&cs=2&ds=6&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=11&rc=NDVkZGg5aGc6ZmhlNDs0aEBpanh5aDo6ZmloZTMzNzczM0AwLTQ0X180NmMxM19hXy40YSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=25","https://v25-us.tiktokcdn.com/517dda454d7f41e299d2150b6b06b556/6377c490/video/tos/useast2a/tos-useast2a-pve-0068/e0f241f29b4045acbbf33f94c1a4a856/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=1706&bt=853&cs=2&ds=6&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=11&rc=NDVkZGg5aGc6ZmhlNDs0aEBpanh5aDo6ZmloZTMzNzczM0AwLTQ0X180NmMxM19hXy40YSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=26","https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v09044g40000cbdeqfbc77u7befvsu7g&line=0&is_play_url=1&source=PackSourceEnum_CHALLENGE_AWEME&file_id=7e11b8d1bb6e4cf79d7eb6be7a7a0231"],"width":576,"height":1024,"url_key":"v09044g40000cbdeqfbc77u7befvsu7g_bytevc1_540p_873819","data_size":4339279,"file_hash":"c3493e8aa3d6e7f2ef9fef7cd04b7a03"}},{"play_addr":{"file_cs":"c:0-34036-08f9","uri":"v09044g40000cbdeqfbc77u7befvsu7g","url_list":["https://v19-us.tiktokcdn.com/55bb467292298000ce981c37c1c7ad04/6377c490/video/tos/useast2a/tos-useast2a-ve-0068c004/06ac62dc5199437690ad0547c516e66b/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=974&bt=487&cs=2&ds=6&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=4&rc=PDo0OzRlZ2lkZzxnZzc2NUBpanh5aDo6ZmloZTMzNzczM0AtNWFiNDZjNTExYmFjMTNfYSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=25","https://v25-us.tiktokcdn.com/325b312bb451739c6500ea151a5c3757/6377c490/video/tos/useast2a/tos-useast2a-ve-0068c004/06ac62dc5199437690ad0547c516e66b/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=974&bt=487&cs=2&ds=6&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=4&rc=PDo0OzRlZ2lkZzxnZzc2NUBpanh5aDo6ZmloZTMzNzczM0AtNWFiNDZjNTExYmFjMTNfYSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=26","https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v09044g40000cbdeqfbc77u7befvsu7g&line=0&is_play_url=1&source=PackSourceEnum_CHALLENGE_AWEME&file_id=b26344fddde94d4a8ffd9b71e8d18709"],"width":576,"height":1024,"url_key":"v09044g40000cbdeqfbc77u7befvsu7g_bytevc1_540p_498897","data_size":2477464,"file_hash":"4b1f5c415bd8e1834f201409cbf29677"},"is_h265":1,"is_bytevc1":1,"dub_infos":null,"gear_name":"lower_540_1","quality_type":24,"bit_rate":498897},{"play_addr":{"url_key":"v09044g40000cbdeqfbc77u7befvsu7g_bytevc1_540p_382582","data_size":1899859,"file_hash":"c70c4c34f8255d610b57fddc595698d3","file_cs":"c:0-34036-f9b8","uri":"v09044g40000cbdeqfbc77u7befvsu7g","url_list":["https://v19-us.tiktokcdn.com/160989ce4e28f01dca421688e9ee46ff/6377c490/video/tos/useast2a/tos-useast2a-ve-0068c004/1a2ea2188e294a6195256e805f4ce83e/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=746&bt=373&cs=2&ds=6&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=5&rc=ZDtkZzU5OGU4aDgzODtpPEBpanh5aDo6ZmloZTMzNzczM0A2MF4zY14tXjMxNi0zLy40YSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=25","https://v25-us.tiktokcdn.com/9e53998854ff715cde1521a734f26e4b/6377c490/video/tos/useast2a/tos-useast2a-ve-0068c004/1a2ea2188e294a6195256e805f4ce83e/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=746&bt=373&cs=2&ds=6&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=5&rc=ZDtkZzU5OGU4aDgzODtpPEBpanh5aDo6ZmloZTMzNzczM0A2MF4zY14tXjMxNi0zLy40YSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=26","https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v09044g40000cbdeqfbc77u7befvsu7g&line=0&is_play_url=1&source=PackSourceEnum_CHALLENGE_AWEME&file_id=791f286500954e65ab05a6f26daa389a"],"width":576,"height":1024},"is_h265":1,"is_bytevc1":1,"dub_infos":null,"gear_name":"lowest_540_1","quality_type":25,"bit_rate":382582}],"is_bytevc1":0,"origin_cover":{"uri":"tos-maliva-p-0068/a1062227ad0347eb8d2b08b9a1f9c315_1658514965","url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-p-0068/a1062227ad0347eb8d2b08b9a1f9c315_1658514965~tplv-tiktokx-360p.webp?x-expires=1668855600&x-signature=FstWDVVTQx3Wx09thz2R13%2B1M9I%3D&s=CHALLENGE_AWEME&se=false&sh=&sc=feed_cover&l=2022111811440901019020802124999678","https://p16-sign-va.tiktokcdn.com/tos-maliva-p-0068/a1062227ad0347eb8d2b08b9a1f9c315_1658514965~tplv-tiktokx-360p.jpeg?x-expires=1668855600&x-signature=ILQRZqc6i%2F3fXLCKSfZJV2PZmEg%3D&s=CHALLENGE_AWEME&se=false&sh=&sc=feed_cover&l=2022111811440901019020802124999678"],"width":720,"height":720},"misc_download_addrs":"{\"suffix_scene\":{\"uri\":\"v09044g40000cbdeqfbc77u7befvsu7g\",\"url_list\":[\"https://v19-us.tiktokcdn.com/8578698b0cc009c9e80c2566c1134f4e/6377c490/video/tos/useast2a/tos-useast2a-ve-0068c002/7e2e92cd1743443f8a0009d17c2e6397/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=3332&bt=1666&cs=0&ds=3&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=0&rc=OjQ8Njc4ZzNnO2YzNzkzNEBpanh5aDo6ZmloZTMzNzczM0A2MmMwM2IxXjYxXmA0MS0tYSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=25\",\"https://v25-us.tiktokcdn.com/510777d8a47613957f4c5c28c49c8725/6377c490/video/tos/useast2a/tos-useast2a-ve-0068c002/7e2e92cd1743443f8a0009d17c2e6397/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=3332&bt=1666&cs=0&ds=3&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=0&rc=OjQ8Njc4ZzNnO2YzNzkzNEBpanh5aDo6ZmloZTMzNzczM0A2MmMwM2IxXjYxXmA0MS0tYSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=26\",\"https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v09044g40000cbdeqfbc77u7befvsu7g&line=0&watermark=1&logo_name=tiktok_end_sonic&source=CHALLENGE_AWEME&file_id=01004674c0ac489da04de56433f95197\"],\"width\":720,\"height\":720,\"data_size\":9305755}}","play_addr_265":{"width":576,"height":1024,"url_key":"v09044g40000cbdeqfbc77u7befvsu7g_bytevc1_540p_873819","data_size":4339279,"file_hash":"c3493e8aa3d6e7f2ef9fef7cd04b7a03","file_cs":"c:0-34036-9f75","uri":"v09044g40000cbdeqfbc77u7befvsu7g","url_list":["https://v19-us.tiktokcdn.com/3f95ecb1124d0dc8b6ed2c0bf37b57f2/6377c490/video/tos/useast2a/tos-useast2a-pve-0068/e0f241f29b4045acbbf33f94c1a4a856/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=1706&bt=853&cs=2&ds=6&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=11&rc=NDVkZGg5aGc6ZmhlNDs0aEBpanh5aDo6ZmloZTMzNzczM0AwLTQ0X180NmMxM19hXy40YSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=25","https://v25-us.tiktokcdn.com/517dda454d7f41e299d2150b6b06b556/6377c490/video/tos/useast2a/tos-useast2a-pve-0068/e0f241f29b4045acbbf33f94c1a4a856/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=1706&bt=853&cs=2&ds=6&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=11&rc=NDVkZGg5aGc6ZmhlNDs0aEBpanh5aDo6ZmloZTMzNzczM0AwLTQ0X180NmMxM19hXy40YSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=26","https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v09044g40000cbdeqfbc77u7befvsu7g&line=0&is_play_url=1&source=PackSourceEnum_CHALLENGE_AWEME&file_id=7e11b8d1bb6e4cf79d7eb6be7a7a0231"]},"has_download_suffix_logo_addr":true,"play_addr":{"data_size":8622710,"file_hash":"a33af767a71631961e45e2ae77cfc954","file_cs":"c:0-33898-a341","uri":"v09044g40000cbdeqfbc77u7befvsu7g","url_list":["https://v19-us.tiktokcdn.com/73496435d96ca6a14ef061868e938c16/6377c490/video/tos/useast2a/tos-useast2a-pve-0068/6179f99c45244379a83653ba5c8c0019/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=3390&bt=1695&cs=0&ds=6&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=0&rc=OztkOTg8O2Q0NDlnZGkzNEBpanh5aDo6ZmloZTMzNzczM0BiXy5fYDU0XmExNGJhLjNfYSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=25","https://v25-us.tiktokcdn.com/1c5d69ceed1e4d703c01d9146af06e0c/6377c490/video/tos/useast2a/tos-useast2a-pve-0068/6179f99c45244379a83653ba5c8c0019/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=3390&bt=1695&cs=0&ds=6&ft=gKpur8hPotwD12N5Rbv8-UxPil.AyF_ODS2&mime_type=video_mp4&qs=0&rc=OztkOTg8O2Q0NDlnZGkzNEBpanh5aDo6ZmloZTMzNzczM0BiXy5fYDU0XmExNGJhLjNfYSM0cGNfcjRfbmFgLS1kMTZzcw%3D%3D&l=2022111811440901019020802124999678&btag=80000&cc=26","https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v09044g40000cbdeqfbc77u7befvsu7g&line=0&is_play_url=1&source=PackSourceEnum_CHALLENGE_AWEME&file_id=b1601fdaed7641d1aa7889c5b61ab8e8"],"width":576,"height":1024,"url_key":"v09044g40000cbdeqfbc77u7befvsu7g_h264_540p_1736392"}},"is_relieve":false,"uniqid_position":null,"video_control":{"allow_music":true,"draft_progress_bar":1,"allow_duet":true,"allow_react":true,"prevent_download_type":0,"timer_status":1,"allow_download":true,"share_type":1,"show_progress_bar":1,"allow_dynamic_wallpaper":true,"allow_stitch":true},"is_preview":0,"anchors":null,"geofencing_regions":null,"cmt_swt":false,"position":null,"group_id_list":{"GroupdIdList0":null,"GroupdIdList1":[7123267514972294406]},"collect_stat":0,"item_stitch":0,"commerce_info":{"with_comment_filter_words":false,"adv_promotable":false,"auction_ad_invited":false},"text_extra":[{"is_commerce":false,"sec_uid":"","start":26,"end":37,"user_id":"","type":1,"hashtag_name":"magictrick","hashtag_id":"21481"},{"hashtag_id":"298673","is_commerce":false,"sec_uid":"","start":38,"end":50,"user_id":"","type":1,"hashtag_name":"magictricks"},{"start":51,"end":57,"user_id":"","type":1,"hashtag_name":"magic","hashtag_id":"622","is_commerce":false,"sec_uid":""},{"user_id":"","type":1,"hashtag_name":"magician","hashtag_id":"77573","is_commerce":false,"sec_uid":"","start":58,"end":67},{"end":82,"user_id":"","type":1,"hashtag_name":"sleightofhand","hashtag_id":"1432139","is_commerce":false,"sec_uid":"","start":68},{"hashtag_id":"4068612","is_commerce":false,"sec_uid":"","start":83,"end":96,"user_id":"","type":1,"hashtag_name":"closeupmagic"},{"hashtag_name":"illusion","hashtag_id":"101968","is_commerce":false,"sec_uid":"","start":97,"end":106,"user_id":"","type":1},{"is_commerce":false,"sec_uid":"","start":107,"end":119,"user_id":"","type":1,"hashtag_name":"illusionist","hashtag_id":"361692"},{"start":120,"end":132,"user_id":"","type":1,"hashtag_name":"streetmagic","hashtag_id":"19412560","is_commerce":false,"sec_uid":""},{"is_commerce":false,"sec_uid":"","start":133,"end":137,"user_id":"","type":1,"hashtag_name":"fyp","hashtag_id":"229207"},{"start":138,"end":149,"user_id":"","type":1,"hashtag_name":"foryoupage","hashtag_id":"88764338","is_commerce":false,"sec_uid":""},{"sec_uid":"","start":150,"end":161,"user_id":"","type":1,"hashtag_name":"artofmagic","hashtag_id":"65918209","is_commerce":false},{"hashtag_id":"6933","is_commerce":false,"sec_uid":"","start":162,"end":170,"user_id":"","type":1,"hashtag_name":"magical"},{"hashtag_name":"opticalillusion","hashtag_id":"184925","is_commerce":false,"sec_uid":"","start":171,"end":187,"user_id":"","type":1},{"hashtag_name":"magictok","hashtag_id":"1604631892979713","is_commerce":false,"sec_uid":"","start":188,"end":197,"user_id":"","type":1},{"hashtag_id":"1578689769379869","is_commerce":false,"sec_uid":"","start":198,"end":210,"user_id":"","type":1,"hashtag_name":"tiktokmagic"},{"hashtag_id":"235429","is_commerce":false,"sec_uid":"","start":211,"end":220,"user_id":"","type":1,"hashtag_name":"sideshow"},{"sec_uid":"","start":221,"end":231,"user_id":"","type":1,"hashtag_name":"geekmagic","hashtag_id":"76465946","is_commerce":false}],"distribute_type":1,"is_pgcshow":false,"without_watermark":false,"desc":"Do not try this at home!!#magictrick #magictricks #magic #magician #sleightofhand #closeupmagic #illusion #illusionist #streetmagic #fyp #foryoupage #artofmagic #magical #opticalillusion #magictok #tiktokmagic #sideshow #geekmagic","create_time":1658514964,"is_hash_tag":1,"item_react":0,"question_list":null,"follow_up_publish_from_id":-1,"author":{"google_account":"","with_fusion_shop_entry":false,"status":1,"create_time":0,"region":"GB","authority_status":0,"shield_follow_notice":0,"download_prompt_ts":0,"live_commerce":false,"share_qrcode_uri":"","special_lock":1,"youtube_expire_time":0,"is_ad_fake":false,"birthday":"1900-01-01","secret":0,"shield_digg_notice":0,"avatar_300x300":{"width":720,"height":720,"uri":"tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d","url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_300x300.webp?x-expires=1668855600&x-signature=MT7Y1IBSy8hEebb3Kgredm5lOsM%3D","https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_300x300.jpeg?x-expires=1668855600&x-signature=tuIqyNRps8zsyfArLL0p2h4ZRx4%3D"]},"comment_filter_status":1,"user_canceled":false,"download_setting":0,"mutual_relation_avatars":null,"unique_id_modify_time":1668771849,"unique_id":"petefirman","bind_phone":"","need_recommend":0,"platform_sync_info":null,"user_mode":0,"relative_users":null,"following_count":0,"has_email":false,"cover_url":[{"height":720,"uri":"musically-maliva-obj/1612555907887110","url_list":["https://p16-amd-va.tiktokcdn.com/obj/musically-maliva-obj/1612555907887110"],"width":720}],"follow_status":0,"custom_verify":"","has_facebook_token":false,"avatar_larger":{"width":720,"height":720,"uri":"tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d","url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_1080x1080.webp?x-expires=1668855600&x-signature=1030%2BN%2FwreyKg1cKC3iDOuFCcq4%3D","https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_1080x1080.jpeg?x-expires=1668855600&x-signature=w3KlXqLxXIjBN7lZIdTIfRlb5Tc%3D"]},"verification_type":0,"commerce_user_level":0,"shield_edit_field_info":null,"can_message_follow_status_list":null,"has_twitter_token":false,"stitch_setting":0,"advanced_feature_info":null,"user_rate":1,"avatar_168x168":{"uri":"tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d","url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_168x168.webp?x-expires=1668855600&x-signature=2Li3QyIhq%2BGPSpTkfWx5rAn9C1Y%3D","https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_168x168.jpeg?x-expires=1668855600&x-signature=MkF3rsoxDE77ZdB9kT3RdpmtZUQ%3D"],"width":720,"height":720},"events":null,"youtube_channel_id":"","with_commerce_entry":false,"is_block":false,"fb_expire_time":0,"is_discipline_member":false,"can_set_geofencing":null,"short_id":"0","ad_cover_url":null,"user_profile_guide":null,"room_id":0,"type_label":null,"cha_list":null,"user_period":0,"tw_expire_time":0,"live_verify":0,"has_orders":false,"reflow_page_gid":0,"aweme_count":0,"geofencing":[],"share_info":{"share_url":"","share_weibo_desc":"","share_desc":"","share_title":"","share_qrcode_url":{"url_list":[],"width":720,"height":720,"uri":""},"share_title_myself":"","share_title_other":"","share_desc_info":""},"prevent_download":false,"accept_private_policy":false,"react_setting":0,"item_list":null,"homepage_bottom_toast":null,"user_tags":null,"shield_comment_notice":0,"follower_count":0,"reflow_page_uid":0,"cv_level":"","bold_fields":null,"uid":"6815875275747738630","avatar_medium":{"url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_720x720.webp?x-expires=1668855600&x-signature=k3v9xgxQGXP%2BEZdkkxLGuUo92H8%3D","https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_720x720.jpeg?x-expires=1668855600&x-signature=jLNi0%2FbUF%2B5acZMULuWRu97Ra%2FA%3D"],"width":720,"height":720,"uri":"tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d"},"language":"en","sec_uid":"MS4wLjABAAAALAVFQFOSDBcQqqjfcjC5ciJUmOo3JTxw4RyPX4AGLGhH6WKeE45VDJ-_KMc1BJIb","nickname":"Pete Firman","is_star":false,"mention_status":4,"twitter_id":"","enterprise_verify_reason":"","apple_account":0,"duet_setting":0,"signature":"I do jokes & tricks.\nON TOUR NOW\nCameo and tickets for UK shows below👇🏻","search_highlight":null,"white_cover_url":null,"friends_status":0,"twitter_name":"","hide_search":false,"live_agreement":0,"show_image_bubble":false,"ins_id":"","comment_setting":0,"need_points":null,"total_favorited":0,"is_phone_binded":false,"live_agreement_time":0,"follower_status":0,"has_insights":false,"advance_feature_item_order":null,"has_youtube_token":false,"account_region":"","video_icon":{"uri":"","url_list":[],"width":720,"height":720},"avatar_uri":"tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d","gender":0,"followers_detail":null,"verify_info":"","favoriting_count":0,"with_shop_entry":false,"youtube_channel_title":"","avatar_thumb":{"uri":"tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d","url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_100x100.webp?x-expires=1668855600&x-signature=NjS5G4C4AhYveErpOg5kX%2FvHibg%3D","https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/8b5f04e684078948fa919b83b356565d~c5_100x100.jpeg?x-expires=1668855600&x-signature=GYQpvSbX%2FHICYj8EVTOTO8%2BAzgI%3D"],"width":720,"height":720}},"image_infos":null,"duration":39727,"aweme_type":0,"region":"GB","need_vs_entry":false,"need_trim_step":false,"content_desc_extra":[],"cha_list":[{"search_highlight":null,"sub_type":0,"view_count":0,"show_items":null,"share_info":{"share_url":"https://www.tiktok.com/tag/magictrick?_r=1&name=magictrick&u_code=0&language=en&_d=e34e97ighfeh9a&share_challenge_id=21481&source=h5_m","share_weibo_desc":"Check out #magictrick on TikTok!","share_title":"It is a becoming a big trend on TikTok now! Click here: magictrick","bool_persist":0,"share_title_myself":"","share_title_other":"","share_signature_url":"","share_signature_desc":"","share_quote":"","share_desc":"Check out #magictrick on TikTok!","share_desc_info":"Check out #magictrick on TikTok!"},"connect_music":[],"is_commerce":false,"hashtag_profile":"","cha_attrs":null,"cid":"21481","author":{"user_tags":null,"followers_detail":null,"geofencing":null,"cover_url":null,"can_set_geofencing":null,"white_cover_url":null,"bold_fields":null,"search_highlight":null,"shield_edit_field_info":null,"item_list":null,"ad_cover_url":null,"need_points":null,"can_message_follow_status_list":null,"mutual_relation_avatars":null,"relative_users":null,"cha_list":null,"homepage_bottom_toast":null,"advance_feature_item_order":null,"advanced_feature_info":null,"user_profile_guide":null,"platform_sync_info":null,"type_label":null,"events":null},"user_count":0,"extra_attr":{"is_live":false},"type":1,"is_challenge":0,"banner_list":null,"is_pgcshow":false,"collect_stat":0,"cha_name":"magictrick","desc":"","schema":"aweme://aweme/challenge/detail?cid=21481"}],"is_top":0,"music_end_time_in_ms":39551}]}}}}},"491":{"description":"Token not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPStatusResponse"},"example":{"detail":"Token not found, please sign up at https://dashboard.ensembledata.com/register"}}}},"492":{"description":"Email not verified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPStatusResponse"},"example":{"detail":"Your email has not been verified."}}}},"493":{"description":"Subscription expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPStatusResponse"},"example":{"detail":"Subscription expired. Send an email at hello@ensembledata.com"}}}},"495":{"description":"All daily units used","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPStatusResponse"},"example":{"detail":"Maximum requests limit reached for today. Send an email at hello@ensembledata.com"}}}},"500":{"description":"Something went wrong","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPStatusResponse"},"example":{"detail":"Internal error."}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-cost":1,"x-cost_examples":[["Hashtag exists","20 posts",1],["Hashtag does not exist","0 posts",1],["Cursor is too big","0 posts",1]],"x-codeSamples":[{"lang":"Python","label":"Python (requests)","source":"import requests\n\nroot = \"https://ensembledata.com/apis\"\nendpoint = \"/tt/hashtag/posts\"\nparams = {\n  \"name\": \"magic\",\n  \"cursor\": 0,\n  \"token\": \"YOUR-TOKEN-HERE\"\n}\n\nres = requests.get(root+endpoint, params=params)\nprint(res.json())\n\n"},{"lang":"Python","label":"Python (our SDK)","source":"# pip install ensembledata\nfrom ensembledata.api import EDClient\n\nclient = EDClient(token=\"YOUR-TOKEN-HERE\")\nresult = client.tiktok.hashtag_search(\n    hashtag=\"magic\",\n)\n\nprint(result.data)\nprint(result.units_charged)\n\n"},{"lang":"JavaScript","label":"JavaScript (fetch)","source":"const root = 'https://ensembledata.com/apis'\nconst endpoint = '/tt/hashtag/posts'\nconst params = {\n  \"name\": \"magic\",\n  \"cursor\": 0,\n  \"token\": \"YOUR-TOKEN-HERE\"\n}\n\nconst queryString = new URLSearchParams(params).toString();\nconst url = `${root}${endpoint}?${queryString}`;\n\nawait fetch(url)\n  .then(response => response.json())\n  .then(data => console.log(data))\n  .catch(error => console.error(error));\n\n"},{"lang":"JavaScript","label":"JavaScript (our SDK)","source":"// npm install ensembledata\nimport { EDClient } from \"ensembledata\";\n\nconst client = new EDClient({ token: \"YOUR-TOKEN-HERE\" })\nconst result = await client.tiktok.hashtagSearch({\n    hashtag: \"magic\",\n})\n\nconsole.log(result.data)\nconsole.log(result.unitsCharged)\n\n"},{"lang":"cURL","source":"curl --compressed -s 'https://ensembledata.com/apis/tt/hashtag/posts?name=magic&cursor=0&token=YOUR-TOKEN-HERE'"}]}},"/tt/hashtag/recent-posts":{"get":{"tags":["Tiktok"],"summary":"Full Hashtag Search","description":"<p style=\"font-size: 15px;\">\tFetch all the posts that Tiktok shows for a given hashtag.\n\nAll the posts are fetched directly from <a href=\"https://www.tiktok.com/tag/magic\" target=\"_blank\">https://www.tiktok.com/tag/magic</a> and filter out any that are were not posted within the last N days.\n This is a convenience endpoint which internally calls the 'Hashtag Search' endpoint repeatedly (iterating the cursor) to collect all the posts for a given hashtag in one api call. Additionally, any posts which were created more than N days ago are filtered out.\n\nThe `max_depth` is the total number of calls which need to be made to the 'Search Hashtag' endpoint to collect all the posts. The maximum value of `max_depth` is 250, given that 1 call retrieves 20 posts and a maximum of 5000 posts can be retrieved from TikTok. The cost is `max_depth` divided by 10 to provide a discount over manually making all the individual calls to the 'Search Hashtag' endpoint.</p><h3>  <u>API Pricing (per request)</u>: <b style=\"color: #E07A57;\">max_depth / 10</b> units</h3><h4>API usage examples</h4>\n\n- Hashtag does not exist:<br><b>-></b> 0 posts returned.<br>Cost: <b style=\"color: #E07A57;\">1 unit</b>\n\n- Hashtag exists, days is set to 10000 and hashtag has 80 posts (max_depth here is 4 because 80 total posts / 20 posts per chunk):<br><b>-></b> 80 posts returned.<br>Cost: <b style=\"color: #E07A57;\">1 unit</b>\n\n- Hashtag exists, days is set to 10000 and hashtag has 800 posts (max_depth here is 40 because 800 total posts / 20 posts per chunk):<br><b>-></b> 800 posts returned.<br>Cost: <b style=\"color: #E07A57;\">4 units</b>\n\n- Hashtag exists, days is set to 10 and hashtag has 800 posts (max_depth here is 40 because 800 total posts / 20 posts per chunk) and only 10 posts are from the past 10 days:<br><b>-></b> 10 posts returned.<br>Cost: <b style=\"color: #E07A57;\">4 units</b>\n\n- Hashtag exists, days is set to 10000 and hashtag has 3200 posts (max_depth here is 160 because 3200 total posts / 20 posts per chunk):<br><b>-></b> 3200 posts returned.<br>Cost: <b style=\"color: #E07A57;\">16 units</b>\n\n- Hashtag exists, days is set to 10 and hashtag has 3200 posts (max_depth here is 160 because 3200 total posts / 20 posts per chunk) and only 10 posts are from the past 10 days:<br><b>-></b> 10 posts returned.<br>Cost: <b style=\"color: #E07A57;\">16 units</b>\n\n<br><a style=\"font-size: 17px;\" target=\"_blank\" href=\"https://ensembledata.com/apis/tt/hashtag/recent-posts?name=nichie&days=90&remap_output=True&max_cursor=10000&token=YOUR_TOKEN_HERE\">   <b>\t\t<u>Try the API</u>   </b></a>","operationId":"tiktok_full_hashtag_search","parameters":[{"description":"Hashtag to search (input without #).","required":true,"schema":{"title":"Name","type":"string","description":"Hashtag to search (input without #).","rename":"hashtag"},"example":"nichie","name":"name","in":"query"},{"description":"Filter out posts created more than N days ago.","required":true,"schema":{"title":"Days","type":"integer","description":"Filter out posts created more than N days ago."},"example":90,"name":"days","in":"query"},{"description":"If True, map the output to match the TikTok Web API. If False, the mapping is matches the mobile TikTok API.","required":false,"schema":{"title":"Remap Output","type":"boolean","description":"If True, map the output to match the TikTok Web API. If False, the mapping is matches the mobile TikTok API.","default":true},"example":true,"name":"remap_output","in":"query"},{"description":"The endpont will stop fetching more posts once it reaches this cursor value (famous hashtags can return up to 4000-5000 posts, therefore, the cursor typically stops at 4000-5000).","required":false,"schema":{"title":"Max Cursor","type":"integer","description":"The endpont will stop fetching more posts once it reaches this cursor value (famous hashtags can return up to 4000-5000 posts, therefore, the cursor typically stops at 4000-5000).","default":10000},"example":10000,"name":"max_cursor","in":"query"},{"description":"Private token assigned to each client to access the APIs.","required":true,"schema":{"title":"Token","maxLength":24,"minLength":12,"type":"string","description":"Private token assigned to each client to access the APIs."},"example":"YOUR_TOKEN_HERE","name":"token","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{},"example":{"data":{"id":"622","description":"Show us your mystical magical tricks in a musical, and make sure to tag it!","is_commerce":false,"video_count":6955041,"view_count":121946001354,"posts":[{"itemInfos":{"id":"7167300755215371525","text":"La petite forêt magique 🪄🧙‍♂️.                         #terrarium #plants #rainforest #magic #for #foryou #viral #plante #plant #fyp #fypシ #d#DIYwater ","stitchEnabled":false,"shareEnabled":true,"createTime":"1668767258","authorId":"6868689331281445893","covers":["https://p16-sign-va.tiktokcdn.com/obj/tos-maliva-p-0068/oIjUEA3DRJPbm4NuXQC1kQfdIAajScnPwPhBeB?x-expires=1668855600&x-signature=i2hncE%2BkaSrLymrdMt6ZYpR15LA%3D&s=CHALLENGE_AWEME&se=false&sh=&sc=cover&l=20221118115023010214029054079CF367"],"coversOrigin":["https://p16-sign-va.tiktokcdn.com/tos-maliva-p-0068/eb45b96bb58e4cfea937423d8ed36f74_1668767259~tplv-tiktokx-360p.webp?x-expires=1668855600&x-signature=yFaG3ybfi%2FKXGuQPf4JnZq%2FqO7s%3D&s=CHALLENGE_AWEME&se=false&sh=&sc=feed_cover&l=20221118115023010214029054079CF367"],"shareCover":["","https://p16-sign-va.tiktokcdn.com/obj/tos-maliva-p-0068/oIjUEA3DRJPbm4NuXQC1kQfdIAajScnPwPhBeB?x-expires=1668855600&x-signature=i2hncE%2BkaSrLymrdMt6ZYpR15LA%3D&s=CHALLENGE_AWEME&se=false&sh=&sc=cover&l=20221118115023010214029054079CF367","https://p16-sign-va.tiktokcdn.com/obj/tos-maliva-p-0068/oIjUEA3DRJPbm4NuXQC1kQfdIAajScnPwPhBeB?x-expires=1668855600&x-signature=i2hncE%2BkaSrLymrdMt6ZYpR15LA%3D&s=CHALLENGE_AWEME&se=false&sh=&sc=cover&l=20221118115023010214029054079CF367"],"coversDynamic":["https://p16-sign-va.tiktokcdn.com/obj/tos-maliva-p-0068/d414bf63fefc45a1820c9372896d0d88_1668767260?x-expires=1668855600&x-signature=cMX3zpkqGtqGXVvlbiHfFsHguRQ%3D&s=CHALLENGE_AWEME&se=false&sh=&sc=dynamic_cover&l=20221118115023010214029054079CF367"],"video":{"urls":["https://v39-us.tiktokcdn.com/a72e5a5233cacf1cf23f72aa741f3b98/6377c606/video/tos/useast2a/tos-useast2a-ve-0068c004/oUAgQiK3INxUtAVJOBz6TIHQkuXIh8fouJpCXH/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=4100&bt=2050&cs=0&ds=6&ft=td_L48hPobhD12Nx.bv8-UxEFn.AyF_ODS2&mime_type=video_mp4&qs=0&rc=Z2U1Nzk0OGY7NGhpaDYzaUBpamQ4a2g6ZjZvZzMzNzczM0A1Ni4zXi8wXzQxYWIuLWI0YSNfM3EzcjRvcG9gLS1kMTZzcw%3D%3D&l=20221118115023010214029054079CF367&btag=80000&cc=8","https://v19-us.tiktokcdn.com/031adc287482da0a8baec8464060ca66/6377c606/video/tos/useast2a/tos-useast2a-ve-0068c004/oUAgQiK3INxUtAVJOBz6TIHQkuXIh8fouJpCXH/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=4100&bt=2050&cs=0&ds=6&ft=td_L48hPobhD12Nx.bv8-UxEFn.AyF_ODS2&mime_type=video_mp4&qs=0&rc=Z2U1Nzk0OGY7NGhpaDYzaUBpamQ4a2g6ZjZvZzMzNzczM0A1Ni4zXi8wXzQxYWIuLWI0YSNfM3EzcjRvcG9gLS1kMTZzcw%3D%3D&l=20221118115023010214029054079CF367&btag=80000&cc=25","https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v09044g40000cdrls3rc77ue6ht56abg&line=0&is_play_url=1&source=PackSourceEnum_CHALLENGE_AWEME&file_id=7fe0031eefde4178bc3521a664129b8d"],"videoMeta":{"height":1024,"width":576,"ratio":"540p","duration":60}},"diggCount":201,"shareCount":2,"playCount":2686,"commentCount":7,"isOriginal":false,"isOfficial":false,"isActivityItem":false,"secret":false,"forFriend":false,"vl1":false,"warnInfo":[],"liked":false,"commentStatus":0,"showNotPass":false,"isAd":false,"itemMute":false,"musicId":"6891415115195746306"},"authorInfos":{"secUid":"MS4wLjABAAAAI11Lt-f-Aof6O4KZou1jjh6AAKHlvkAbZj8jXnh0y9swexxULVTa7TdkextF7xRQ","userId":"6868689331281445893","uniqueId":"pimpmyjungle","nickName":"PimpMyJungle","signature":"Attention reptiles ⚠️ 🐊","verified":false,"user_type":"","covers":["https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/fda0385b249f8058c23d876b2d6acd2c~c5_100x100.webp?x-expires=1668855600&x-signature=25kykIlhi92Y5YfyjVf0sFqy%2Bo4%3D"],"coversMedium":["https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/fda0385b249f8058c23d876b2d6acd2c~c5_720x720.webp?x-expires=1668855600&x-signature=Z3lcstSBew1Yi50sBVknn5S92rY%3D"],"coversLarger":["https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/fda0385b249f8058c23d876b2d6acd2c~c5_1080x1080.webp?x-expires=1668855600&x-signature=9Fjew6u9uOlE9c6NVNT9%2FlRw2Jc%3D"],"secret":false,"isSecret":false,"relation":-1,"roomId":""},"musicInfos":{"musicId":"6891415115195746306","musicName":"Fairytale (From \"Shrek\")","authorName":"Geek Music","original":false,"playUrl":["https://sf16-ies-music-va.tiktokcdn.com/obj/tos-useast2a-ve-2774/b037e01b1cf84b8487538a2e27d3d378"],"covers":["https://p16-amd-va.tiktokcdn.com/img/tos-useast2a-v-2774/4f27c009232a4b409d42c44948e9dcb1~c5_100x100.jpeg"],"coversMedium":["https://p16-amd-va.tiktokcdn.com/img/tos-useast2a-v-2774/4f27c009232a4b409d42c44948e9dcb1~c5_200x200.jpeg"],"coversLarger":["https://p16-amd-va.tiktokcdn.com/img/tos-useast2a-v-2774/4f27c009232a4b409d42c44948e9dcb1~c5_720x720.jpeg"]},"challengeInfoList":[{"challengeId":"11233856","challengeName":"terrarium","isCommerce":false,"text":"","splitTitle":"","covers":[],"coversMedium":[],"coversLarger":[]}],"duetInfo":"0","textExtra":[{"Start":57,"End":67,"SecUid":"","SubType":0,"AwemeId":"","HashtagName":"","HashtagId":"","Type":1,"UserId":"","IsCommerce":false,"UserUniqueId":""},{"Start":68,"End":75,"SecUid":"","SubType":0,"AwemeId":"","HashtagName":"","HashtagId":"","Type":1,"UserId":"","IsCommerce":false,"UserUniqueId":""},{"Start":76,"End":87,"SecUid":"","SubType":0,"AwemeId":"","HashtagName":"","HashtagId":"","Type":1,"UserId":"","IsCommerce":false,"UserUniqueId":""},{"Start":88,"End":94,"SecUid":"","SubType":0,"AwemeId":"","HashtagName":"","HashtagId":"","Type":1,"UserId":"","IsCommerce":false,"UserUniqueId":""},{"Start":95,"End":99,"SecUid":"","SubType":0,"AwemeId":"","HashtagName":"","HashtagId":"","Type":1,"UserId":"","IsCommerce":false,"UserUniqueId":""},{"Start":100,"End":107,"SecUid":"","SubType":0,"AwemeId":"","HashtagName":"","HashtagId":"","Type":1,"UserId":"","IsCommerce":false,"UserUniqueId":""},{"Start":108,"End":114,"SecUid":"","SubType":0,"AwemeId":"","HashtagName":"","HashtagId":"","Type":1,"UserId":"","IsCommerce":false,"UserUniqueId":""},{"Start":115,"End":122,"SecUid":"","SubType":0,"AwemeId":"","HashtagName":"","HashtagId":"","Type":1,"UserId":"","IsCommerce":false,"UserUniqueId":""},{"Start":123,"End":129,"SecUid":"","SubType":0,"AwemeId":"","HashtagName":"","HashtagId":"","Type":1,"UserId":"","IsCommerce":false,"UserUniqueId":""},{"Start":130,"End":134,"SecUid":"","SubType":0,"AwemeId":"","HashtagName":"","HashtagId":"","Type":1,"UserId":"","IsCommerce":false,"UserUniqueId":""},{"Start":135,"End":140,"SecUid":"","SubType":0,"AwemeId":"","HashtagName":"","HashtagId":"","Type":1,"UserId":"","IsCommerce":false,"UserUniqueId":""},{"Start":141,"End":145,"SecUid":"","SubType":0,"AwemeId":"","HashtagName":"","HashtagId":"","Type":1,"UserId":"","IsCommerce":false,"UserUniqueId":""},{"Start":146,"End":152,"SecUid":"","SubType":0,"AwemeId":"","HashtagName":"","HashtagId":"","Type":1,"UserId":"","IsCommerce":false,"UserUniqueId":""}],"authorStats":{"followingCount":0,"followerCount":0,"heartCount":0,"videoCount":0,"diggCount":0},"stickerTextList":[]}]}}}}},"491":{"description":"Token not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPStatusResponse"},"example":{"detail":"Token not found, please sign up at https://dashboard.ensembledata.com/register"}}}},"492":{"description":"Email not verified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPStatusResponse"},"example":{"detail":"Your email has not been verified."}}}},"493":{"description":"Subscription expired","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPStatusResponse"},"example":{"detail":"Subscription expired. Send an email at hello@ensembledata.com"}}}},"495":{"description":"All daily units used","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPStatusResponse"},"example":{"detail":"Maximum requests limit reached for today. Send an email at hello@ensembledata.com"}}}},"500":{"description":"Something went wrong","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPStatusResponse"},"example":{"detail":"Internal error."}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-cost":"max_depth / 10","x-cost_examples":[["Hashtag does not exist","0 posts",1],["Hashtag exists, days is set to 10000 and hashtag has 80 posts (max_depth here is 4 because 80 total posts / 20 posts per chunk)","80 posts",1],["Hashtag exists, days is set to 10000 and hashtag has 800 posts (max_depth here is 40 because 800 total posts / 20 posts per chunk)","800 posts",4],["Hashtag exists, days is set to 10 and hashtag has 800 posts (max_depth here is 40 because 800 total posts / 20 posts per chunk) and only 10 posts are from the past 10 days","10 posts",4],["Hashtag exists, days is set to 10000 and hashtag has 3200 posts (max_depth here is 160 because 3200 total posts / 20 posts per chunk)","3200 posts",16],["Hashtag exists, days is set to 10 and hashtag has 3200 posts (max_depth here is 160 because 3200 total posts / 20 posts per chunk) and only 10 posts are from the past 10 days","10 posts",16]],"x-codeSamples":[{"lang":"Python","label":"Python (requests)","source":"import requests\n\nroot = \"https://ensembledata.com/apis\"\nendpoint = \"/tt/hashtag/recent-posts\"\nparams = {\n  \"name\": \"nichie\",\n  \"days\": 90,\n  \"remap_output\": True,\n  \"max_cursor\": 10000,\n  \"token\": \"YOUR-TOKEN-HERE\"\n}\n\nres = requests.get(root+endpoint, params=params)\nprint(res.json())\n\n"},{"lang":"Python","label":"Python (our SDK)","source":"# pip install ensembledata\nfrom ensembledata.api import EDClient\n\nclient = EDClient(token=\"YOUR-TOKEN-HERE\")\nresult = client.tiktok.full_hashtag_search(\n    hashtag=\"nichie\",\n    days=90,\n)\n\nprint(result.data)\nprint(result.units_charged)\n\n"},{"lang":"JavaScript","label":"JavaScript (fetch)","source":"const root = 'https://ensembledata.com/apis'\nconst endpoint = '/tt/hashtag/recent-posts'\nconst params = {\n  \"name\": \"nichie\",\n  \"days\": 90,\n  \"remap_output\": true,\n  \"max_cursor\": 10000,\n  \"token\": \"YOUR-TOKEN-HERE\"\n}\n\nconst queryString = new URLSearchParams(params).toString();\nconst url = `${root}${endpoint}?${queryString}`;\n\nawait fetch(url)\n  .then(response => response.json())\n  .then(data => console.log(data))\n  .catch(error => console.error(error));\n\n"},{"lang":"JavaScript","label":"JavaScript (our SDK)","source":"// npm install ensembledata\nimport { EDClient } from \"ensembledata\";\n\nconst client = new EDClient({ token: \"YOUR-TOKEN-HERE\" })\nconst result = await client.tiktok.fullHashtagSearch({\n    hashtag: \"nichie\",\n    days: 90,\n})\n\nconsole.log(result.data)\nconsole.log(result.unitsCharged)\n\n"},{"lang":"cURL","source":"curl --compressed -s 'https://ensembledata.com/apis/tt/hashtag/recent-posts?name=nichie&days=90&remap_output=True&max_cursor=10000&token=YOUR-TOKEN-HERE'"}]}},"/tt/keyword/search":{"get":{"tags":["Tiktok"],"summary":"Keyword Search","description":"<p style=\"font-size: 15px;\">\tFetch posts for a given keyword from the Tiktok mobile app search video bar according to filter based on time and sorting.\n\nReturns a maximum of 20 posts per call (if match_exactly is true, it returns 10 posts per call). Note: the cost becomes (1 + #returned_posts) when get_author_stats is true. See the `cursor` query parameter below for information on how to fetch more posts.</p><h3>  <u>API Pricing (per request)</u>: <b style=\"color: #E07A57;\">1</b> unit</h3><h4>API usage examples</h4>\n\n- Keyword exists:<br><b>-></b> 20 posts returned.<br>Cost: <b style=\"color: #E07A57;\">1 unit</b>\n\n- Keyword exists and does not have any more posts:<br><b>-></b> 14 posts returned.<br>Cost: <b style=\"color: #E07A57;\">1 unit</b>\n\n- Keyword exists and match_exactly parameter is True:<br><b>-></b> 10 posts returned.<br>Cost: <b style=\"color: #E07A57;\">1 unit</b>\n\n- Keyword exists and match_exactly parameter is True and get_author_stats is True:<br><b>-></b> 15 posts returned.<br>Cost: <b style=\"color: #E07A57;\">16 units</b>\n\n- Cursor is too big:<br><b>-></b> 0 posts returned.<br>Cost: <b style=\"color: #E07A57;\">1 unit</b>\n\n<br><a style=\"font-size: 17px;\" target=\"_blank\" href=\"https://ensembledata.com/apis/tt/keyword/search?name=tesla&cursor=0&period=1&sorting=0&country=us&match_exactly=False&get_author_stats=False&token=YOUR_TOKEN_HERE\">   <b>\t\t<u>Try the API</u>   </b></a>","operationId":"tiktok_keyword_search","parameters":[{"description":"The keyword to search.","required":true,"schema":{"title":"Name","type":"string","description":"The keyword to search.","rename":"keyword"},"example":"tesla","name":"name","in":"query"},{"description":"Parameter to manually handle pagination. Each response contains a `nextCursor` which can be used to retrieve the next page of results by sending it as the next `cursor`. If the `nextCursor` is not present in the response, it means that there are no more results to retrieve.","required":false,"schema":{"title":"Cursor","type":"integer","description":"Parameter to manually handle pagination. Each response contains a `nextCursor` which can be used to retrieve the next page of results by sending it as the next `cursor`. If the `nextCursor` is not present in the response, it means that there are no more results to retrieve.","default":0},"example":0,"name":"cursor","in":"query"},{"description":"Only return posts more recent than the given period. The value corresponds to the number of days to filter on.","required":true,"schema":{"allOf":[{"$ref":"#/components/schemas/app__routers__tiktok__Period"}],"description":"Only return posts more recent than the given period. The value corresponds to the number of days to filter on."},"example":"1","name":"period","in":"query"},{"description":"The posts are sorted by relevance if sorting=0, and by most liked if sorting=1.","required":false,"schema":{"allOf":[{"$ref":"#/components/schemas/app__routers__tiktok__Sorting"}],"description":"The posts are sorted by relevance if sorting=0, and by most liked if sorting=1.","default":"0"},"example":"0","name":"sorting","in":"query"},{"description":"Retrieve the posts as if in the specified country (US, FR, UK, DE, etc.)","required":false,"schema":{"title":"Country","type":"string","description":"Retrieve the posts as if in the specified country (US, FR, UK, DE, etc.)","default":""},"example":"us","name":"country","in":"query"},{"description":"Fetch only videos where the input keyword has to be exactly present in the video caption. If true, it returns 10 posts per request.","required":false,"schema":{"title":"Match Exactly","type":"boolean","description":"Fetch only videos where the input keyword has to be exactly present in the video caption. If true, it returns 10 posts per request.","default":false},"example":false,"name":"match_exactly","in":"query"},{"description":"Whether to include extra statistics about the author of the post such as their following count, follower count, favoriting (likes) count etc.","required":false,"schema":{"title":"Get Author Stats","type":"boolean","description":"Whether to include extra statistics about the author of the post such as their following count, follower count, favoriting (likes) count etc.","default":false},"example":false,"name":"get_author_stats","in":"query"},{"description":"Private token assigned to each client to access the APIs.","required":true,"schema":{"title":"Token","maxLength":24,"minLength":12,"type":"string","description":"Private token assigned to each client to access the APIs."},"example":"YOUR_TOKEN_HERE","name":"token","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{},"example":{"data":{"nextCursor":20,"data":[{"type":1,"aweme_info":{"risk_infos":{"risk_sink":false,"type":0,"content":"","vote":false,"warn":false},"branded_content_accounts":null,"label_top":{"height":720,"uri":"tiktok-obj/1598708589477025.PNG","url_list":["https://p16-sg.tiktokcdn.com/obj/tiktok-obj/1598708589477025.PNG"],"width":720},"video":{"cover":{"uri":"tos-useast5-p-0068-tx/da48c71679af438d9e569d0c0d414fe9_1668718064","url_list":["https://p19-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/da48c71679af438d9e569d0c0d414fe9_1668718064~tplv-dmt-logom:tos-useast5-i-0068-tx/0130ed42025f45b7b2fbe3031616d4cb.image?biz_tag=musically_video.video_cover&l=2022111811532001021702913905CD7F4D&s=SEARCH&sc=cover&se=false&sh=&x-expires=1668855600&x-signature=ANNDCJeJ9q0pFS3DnUNEHLzsA%2BA%3D","https://p16-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/da48c71679af438d9e569d0c0d414fe9_1668718064~tplv-dmt-logom:tos-useast5-i-0068-tx/0130ed42025f45b7b2fbe3031616d4cb.image?biz_tag=musically_video.video_cover&l=2022111811532001021702913905CD7F4D&s=SEARCH&sc=cover&se=false&sh=&x-expires=1668855600&x-signature=nzdjR%2FGAkdJlX24KrduRTWj22Kc%3D"],"width":720,"height":720},"origin_cover":{"uri":"tos-useast5-p-0068-tx/c002211e943049e9844cda97521cbecf_1668718064","url_list":["https://p16-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/c002211e943049e9844cda97521cbecf_1668718064~tplv-tiktokx-360p.webp?x-expires=1668855600&x-signature=SoE88Jfjj5g%2FA2wCZ5mRX%2FM6XII%3D&s=SEARCH&se=false&sh=&sc=feed_cover&l=2022111811532001021702913905CD7F4D","https://p19-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/c002211e943049e9844cda97521cbecf_1668718064~tplv-tiktokx-360p.webp?x-expires=1668855600&x-signature=lVf9p8sStrltWIM8%2Fj%2BG%2F7zVnys%3D&s=SEARCH&se=false&sh=&sc=feed_cover&l=2022111811532001021702913905CD7F4D","https://p16-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/c002211e943049e9844cda97521cbecf_1668718064~tplv-tiktokx-360p.jpeg?x-expires=1668855600&x-signature=yb3yMdyqcHW0LIvHpjljkUD%2BUuA%3D&s=SEARCH&se=false&sh=&sc=feed_cover&l=2022111811532001021702913905CD7F4D"],"width":720,"height":720},"download_addr":{"uri":"v12044gd0000cdr9rcjc77u39anvo880","url_list":["https://v39-us.tiktokcdn.com/cf55b56e10fae75c7c77285d133c66c2/6377c6a6/video/tos/maliva/tos-maliva-ve-0068c799-us/e33eaf5e7b6f4f44a5981a760d8dd5af/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=3022&bt=1511&cs=0&ds=3&ft=td_L48hPobhD12N8Lbv8-Ux_yn.AyF_ODS2&mime_type=video_mp4&qs=0&rc=NmdnO2loZ2ZlZzhnaGY2aUBpMzt5ZDY6ZmY8ZzMzZzczNEAxYF8tLTAvXmExYTM2NTEvYSM1bGs2cjRnb29gLS1kMS9zcw%3D%3D&l=2022111811532001021702913905CD7F4D&btag=80000&cc=8","https://v25-us.tiktokcdn.com/79c57be4c7f70874b8807ead722b455b/6377c6a6/video/tos/maliva/tos-maliva-ve-0068c799-us/e33eaf5e7b6f4f44a5981a760d8dd5af/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=3022&bt=1511&cs=0&ds=3&ft=td_L48hPobhD12N8Lbv8-Ux_yn.AyF_ODS2&mime_type=video_mp4&qs=0&rc=NmdnO2loZ2ZlZzhnaGY2aUBpMzt5ZDY6ZmY8ZzMzZzczNEAxYF8tLTAvXmExYTM2NTEvYSM1bGs2cjRnb29gLS1kMS9zcw%3D%3D&l=2022111811532001021702913905CD7F4D&btag=80000&cc=26","https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v12044gd0000cdr9rcjc77u39anvo880&line=0&watermark=1&logo_name=tiktok_m&source=SEARCH&file_id=2f438c9e6dd54ddbac2d3e0f08bdcd43"],"width":720,"height":720,"data_size":4442153},"is_bytevc1":0,"meta":"{\"loudness\":\"-18\",\"peak\":\"0.68391\",\"qprf\":\"1.000\",\"sr_score\":\"1.000\"}","dynamic_cover":{"url_list":["https://p16-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/eb9cc7ad4adf40edb450b78b51c92a63_1668718065~tplv-dmt-logom:tos-useast5-i-0068-tx/0130ed42025f45b7b2fbe3031616d4cb.image?x-expires=1668855600&x-signature=Vc5W%2BGC2pQMnoM3bLKXn9aNJbWk%3D&s=SEARCH&se=false&sh=&sc=dynamic_cover&l=2022111811532001021702913905CD7F4D","https://p19-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/eb9cc7ad4adf40edb450b78b51c92a63_1668718065~tplv-dmt-logom:tos-useast5-i-0068-tx/0130ed42025f45b7b2fbe3031616d4cb.image?x-expires=1668855600&x-signature=Vp6wLfGWKPgiXMuKwbYYlBVJpqs%3D&s=SEARCH&se=false&sh=&sc=dynamic_cover&l=2022111811532001021702913905CD7F4D"],"width":720,"height":720,"uri":"tos-useast5-p-0068-tx/eb9cc7ad4adf40edb450b78b51c92a63_1668718065"},"ratio":"540p","has_watermark":true,"cdn_url_expired":0,"tags":null,"play_addr_bytevc1":{"data_size":1514425,"file_hash":"b8551c3c7f0f4cfec1a28ccaf6ce1f54","file_cs":"c:0-20386-f284","uri":"v12044gd0000cdr9rcjc77u39anvo880","url_list":["https://v39-us.tiktokcdn.com/4b651c1f7e77234b64d2d19321857433/6377c6a6/video/tos/maliva/tos-maliva-ve-0068c799-us/b0afafc8635c43fa8d2786991c889453/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=1036&bt=518&cs=2&ds=6&ft=td_L48hPobhD12N8Lbv8-Ux_yn.AyF_ODS2&mime_type=video_mp4&qs=11&rc=ZDNlZ2VoOmgzNDs5ZmlpNkBpMzt5ZDY6ZmY8ZzMzZzczNEAuYGJjMTQ1XzMxNTQyLTQuYSM1bGs2cjRnb29gLS1kMS9zcw%3D%3D&l=2022111811532001021702913905CD7F4D&btag=80000&cc=8","https://v25-us.tiktokcdn.com/b6e403eff8ac9f67fd3c9c250d2723d4/6377c6a6/video/tos/maliva/tos-maliva-ve-0068c799-us/b0afafc8635c43fa8d2786991c889453/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=1036&bt=518&cs=2&ds=6&ft=td_L48hPobhD12N8Lbv8-Ux_yn.AyF_ODS2&mime_type=video_mp4&qs=11&rc=ZDNlZ2VoOmgzNDs5ZmlpNkBpMzt5ZDY6ZmY8ZzMzZzczNEAuYGJjMTQ1XzMxNTQyLTQuYSM1bGs2cjRnb29gLS1kMS9zcw%3D%3D&l=2022111811532001021702913905CD7F4D&btag=80000&cc=26","https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v12044gd0000cdr9rcjc77u39anvo880&line=0&is_play_url=1&source=PackSourceEnum_SEARCH&file_id=137f0f5c76884160be877e4bfdebc01a"],"width":576,"height":1024,"url_key":"v12044gd0000cdr9rcjc77u39anvo880_bytevc1_540p_531353"},"big_thumbs":[],"ai_dynamic_cover":{"uri":"tos-useast5-p-0068-tx/8d1f68179ed94c638d438b7226f12f0f_1668718064","url_list":["https://p16-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/8d1f68179ed94c638d438b7226f12f0f_1668718064~tplv-dmt-logom:tos-useast5-i-0068-tx/0130ed42025f45b7b2fbe3031616d4cb.image?x-expires=1668855600&x-signature=MNGR2npXURIljMsihH%2BgVwjQgn8%3D&s=SEARCH&se=false&sh=&sc=dynamic_cover&l=2022111811532001021702913905CD7F4D","https://p19-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/8d1f68179ed94c638d438b7226f12f0f_1668718064~tplv-dmt-logom:tos-useast5-i-0068-tx/0130ed42025f45b7b2fbe3031616d4cb.image?x-expires=1668855600&x-signature=4G42oXiESNRGPeMUsBuhFTzMb64%3D&s=SEARCH&se=false&sh=&sc=dynamic_cover&l=2022111811532001021702913905CD7F4D"]},"height":1024,"width":576,"play_addr_h264":{"height":1024,"url_key":"v12044gd0000cdr9rcjc77u39anvo880_h264_540p_1493274","data_size":4286072,"file_hash":"2c93c7d083b127cb4155cd1c23e38f85","file_cs":"c:0-19778-e4df","uri":"v12044gd0000cdr9rcjc77u39anvo880","url_list":["https://v39-us.tiktokcdn.com/27395f2da414abe2fe9f146a7680eaef/6377c6a6/video/tos/maliva/tos-maliva-ve-0068c799-us/45b99c0d24b842819c38ffb4b27389ba/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=2916&bt=1458&cs=0&ds=6&ft=td_L48hPobhD12N8Lbv8-Ux_yn.AyF_ODS2&mime_type=video_mp4&qs=0&rc=aTg4Mzo3NTRpNjU8NDs5OkBpMzt5ZDY6ZmY8ZzMzZzczNEAwLjViNjEzNjExLi1gYmNhYSM1bGs2cjRnb29gLS1kMS9zcw%3D%3D&l=2022111811532001021702913905CD7F4D&btag=80000&cc=8","https://v25-us.tiktokcdn.com/ce6802f6ae0c9b4e617b0d8805b54082/6377c6a6/video/tos/maliva/tos-maliva-ve-0068c799-us/45b99c0d24b842819c38ffb4b27389ba/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=2916&bt=1458&cs=0&ds=6&ft=td_L48hPobhD12N8Lbv8-Ux_yn.AyF_ODS2&mime_type=video_mp4&qs=0&rc=aTg4Mzo3NTRpNjU8NDs5OkBpMzt5ZDY6ZmY8ZzMzZzczNEAwLjViNjEzNjExLi1gYmNhYSM1bGs2cjRnb29gLS1kMS9zcw%3D%3D&l=2022111811532001021702913905CD7F4D&btag=80000&cc=26","https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v12044gd0000cdr9rcjc77u39anvo880&line=0&is_play_url=1&source=PackSourceEnum_SEARCH&file_id=d7f6e8c10912434f91624497e085153f"],"width":576},"animated_cover":{"uri":"tos-useast5-p-0068-tx/8d1f68179ed94c638d438b7226f12f0f_1668718064","url_list":["https://p16-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/8d1f68179ed94c638d438b7226f12f0f_1668718064~tplv-dmt-logom:tos-useast5-i-0068-tx/0130ed42025f45b7b2fbe3031616d4cb.image?x-expires=1668855600&x-signature=MNGR2npXURIljMsihH%2BgVwjQgn8%3D&s=SEARCH&se=false&sh=&sc=dynamic_cover&l=2022111811532001021702913905CD7F4D","https://p19-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/8d1f68179ed94c638d438b7226f12f0f_1668718064~tplv-dmt-logom:tos-useast5-i-0068-tx/0130ed42025f45b7b2fbe3031616d4cb.image?x-expires=1668855600&x-signature=4G42oXiESNRGPeMUsBuhFTzMb64%3D&s=SEARCH&se=false&sh=&sc=dynamic_cover&l=2022111811532001021702913905CD7F4D"]},"need_set_token":false,"is_callback":true,"source_HDR_type":0,"play_addr":{"url_list":["https://v39-us.tiktokcdn.com/27395f2da414abe2fe9f146a7680eaef/6377c6a6/video/tos/maliva/tos-maliva-ve-0068c799-us/45b99c0d24b842819c38ffb4b27389ba/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=2916&bt=1458&cs=0&ds=6&ft=td_L48hPobhD12N8Lbv8-Ux_yn.AyF_ODS2&mime_type=video_mp4&qs=0&rc=aTg4Mzo3NTRpNjU8NDs5OkBpMzt5ZDY6ZmY8ZzMzZzczNEAwLjViNjEzNjExLi1gYmNhYSM1bGs2cjRnb29gLS1kMS9zcw%3D%3D&l=2022111811532001021702913905CD7F4D&btag=80000&cc=8","https://v25-us.tiktokcdn.com/ce6802f6ae0c9b4e617b0d8805b54082/6377c6a6/video/tos/maliva/tos-maliva-ve-0068c799-us/45b99c0d24b842819c38ffb4b27389ba/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=2916&bt=1458&cs=0&ds=6&ft=td_L48hPobhD12N8Lbv8-Ux_yn.AyF_ODS2&mime_type=video_mp4&qs=0&rc=aTg4Mzo3NTRpNjU8NDs5OkBpMzt5ZDY6ZmY8ZzMzZzczNEAwLjViNjEzNjExLi1gYmNhYSM1bGs2cjRnb29gLS1kMS9zcw%3D%3D&l=2022111811532001021702913905CD7F4D&btag=80000&cc=26","https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v12044gd0000cdr9rcjc77u39anvo880&line=0&is_play_url=1&source=PackSourceEnum_SEARCH&file_id=d7f6e8c10912434f91624497e085153f"],"width":576,"height":1024,"url_key":"v12044gd0000cdr9rcjc77u39anvo880_h264_540p_1493274","data_size":4286072,"file_hash":"2c93c7d083b127cb4155cd1c23e38f85","file_cs":"c:0-19778-e4df","uri":"v12044gd0000cdr9rcjc77u39anvo880"},"bit_rate":[{"quality_type":14,"bit_rate":687957,"play_addr":{"file_hash":"bcd7085030a70e1113db3c7f577a7a7a","file_cs":"c:0-20386-4518","uri":"v12044gd0000cdr9rcjc77u39anvo880","url_list":["https://v39-us.tiktokcdn.com/8e07e61b523a7c178e6e91fdad4465c9/6377c6a6/video/tos/maliva/tos-maliva-ve-0068c799-us/e1ffde9dd73d4fc6a0179ddb01077573/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=1342&bt=671&cs=2&ds=3&ft=td_L48hPobhD12N8Lbv8-Ux_yn.AyF_ODS2&mime_type=video_mp4&qs=14&rc=NzZmNmQ3aWlmOTdlPDVnOEBpMzt5ZDY6ZmY8ZzMzZzczNEBfMTExYzM0Xy4xLi0zNmMuYSM1bGs2cjRnb29gLS1kMS9zcw%3D%3D&l=2022111811532001021702913905CD7F4D&btag=80000&cc=8","https://v25-us.tiktokcdn.com/6b52da77ebe80e391972e852c74bb874/6377c6a6/video/tos/maliva/tos-maliva-ve-0068c799-us/e1ffde9dd73d4fc6a0179ddb01077573/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=1342&bt=671&cs=2&ds=3&ft=td_L48hPobhD12N8Lbv8-Ux_yn.AyF_ODS2&mime_type=video_mp4&qs=14&rc=NzZmNmQ3aWlmOTdlPDVnOEBpMzt5ZDY6ZmY8ZzMzZzczNEBfMTExYzM0Xy4xLi0zNmMuYSM1bGs2cjRnb29gLS1kMS9zcw%3D%3D&l=2022111811532001021702913905CD7F4D&btag=80000&cc=26","https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v12044gd0000cdr9rcjc77u39anvo880&line=0&is_play_url=1&source=PackSourceEnum_SEARCH&file_id=15fd92690b14461cbf7f64fa434c43b4"],"width":720,"height":1280,"url_key":"v12044gd0000cdr9rcjc77u39anvo880_bytevc1_720p_687957","data_size":1960764},"is_bytevc1":1,"dub_infos":null,"HDR_type":"","HDR_bit":"","gear_name":"adapt_lower_720_1"},{"is_bytevc1":1,"dub_infos":null,"HDR_type":"","HDR_bit":"","gear_name":"adapt_540_1","quality_type":28,"bit_rate":531353,"play_addr":{"file_cs":"c:0-20386-f284","uri":"v12044gd0000cdr9rcjc77u39anvo880","url_list":["https://v39-us.tiktokcdn.com/4b651c1f7e77234b64d2d19321857433/6377c6a6/video/tos/maliva/tos-maliva-ve-0068c799-us/b0afafc8635c43fa8d2786991c889453/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=1036&bt=518&cs=2&ds=6&ft=td_L48hPobhD12N8Lbv8-Ux_yn.AyF_ODS2&mime_type=video_mp4&qs=11&rc=ZDNlZ2VoOmgzNDs5ZmlpNkBpMzt5ZDY6ZmY8ZzMzZzczNEAuYGJjMTQ1XzMxNTQyLTQuYSM1bGs2cjRnb29gLS1kMS9zcw%3D%3D&l=2022111811532001021702913905CD7F4D&btag=80000&cc=8","https://v25-us.tiktokcdn.com/b6e403eff8ac9f67fd3c9c250d2723d4/6377c6a6/video/tos/maliva/tos-maliva-ve-0068c799-us/b0afafc8635c43fa8d2786991c889453/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=1036&bt=518&cs=2&ds=6&ft=td_L48hPobhD12N8Lbv8-Ux_yn.AyF_ODS2&mime_type=video_mp4&qs=11&rc=ZDNlZ2VoOmgzNDs5ZmlpNkBpMzt5ZDY6ZmY8ZzMzZzczNEAuYGJjMTQ1XzMxNTQyLTQuYSM1bGs2cjRnb29gLS1kMS9zcw%3D%3D&l=2022111811532001021702913905CD7F4D&btag=80000&cc=26","https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v12044gd0000cdr9rcjc77u39anvo880&line=0&is_play_url=1&source=PackSourceEnum_SEARCH&file_id=137f0f5c76884160be877e4bfdebc01a"],"width":576,"height":1024,"url_key":"v12044gd0000cdr9rcjc77u39anvo880_bytevc1_540p_531353","data_size":1514425,"file_hash":"b8551c3c7f0f4cfec1a28ccaf6ce1f54"}},{"gear_name":"lower_540_1","quality_type":24,"bit_rate":335065,"play_addr":{"uri":"v12044gd0000cdr9rcjc77u39anvo880","url_list":["https://v39-us.tiktokcdn.com/254d1a296a02e7af40eed2fed4986459/6377c6a6/video/tos/maliva/tos-maliva-ve-0068c799-us/ee6453e778f54997bb64b334c1901cb0/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=654&bt=327&cs=2&ds=6&ft=td_L48hPobhD12N8Lbv8-Ux_yn.AyF_ODS2&mime_type=video_mp4&qs=4&rc=NDZoZjg3Zzw0Ojg2aTc5M0BpMzt5ZDY6ZmY8ZzMzZzczNEA0YDMuMDM2NjQxLTZgXzReYSM1bGs2cjRnb29gLS1kMS9zcw%3D%3D&l=2022111811532001021702913905CD7F4D&btag=80000&cc=8","https://v25-us.tiktokcdn.com/2056dacc8150c6a306fd39c7bdc60d18/6377c6a6/video/tos/maliva/tos-maliva-ve-0068c799-us/ee6453e778f54997bb64b334c1901cb0/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=654&bt=327&cs=2&ds=6&ft=td_L48hPobhD12N8Lbv8-Ux_yn.AyF_ODS2&mime_type=video_mp4&qs=4&rc=NDZoZjg3Zzw0Ojg2aTc5M0BpMzt5ZDY6ZmY8ZzMzZzczNEA0YDMuMDM2NjQxLTZgXzReYSM1bGs2cjRnb29gLS1kMS9zcw%3D%3D&l=2022111811532001021702913905CD7F4D&btag=80000&cc=26","https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v12044gd0000cdr9rcjc77u39anvo880&line=0&is_play_url=1&source=PackSourceEnum_SEARCH&file_id=a076b4cf93054771999d64351c6ec371"],"width":576,"height":1024,"url_key":"v12044gd0000cdr9rcjc77u39anvo880_bytevc1_540p_335065","data_size":954979,"file_hash":"9402c0f380a07ccb5a1a82f0a1661690","file_cs":"c:0-20386-3b18"},"is_bytevc1":1,"dub_infos":null,"HDR_type":"","HDR_bit":""},{"quality_type":25,"bit_rate":259957,"play_addr":{"file_hash":"68aaa41df454e17212939185ac5ef7df","file_cs":"c:0-20386-b29e","uri":"v12044gd0000cdr9rcjc77u39anvo880","url_list":["https://v39-us.tiktokcdn.com/c777a9619caf29520fe821a329dbdf0e/6377c6a6/video/tos/maliva/tos-maliva-ve-0068c799-us/01cea4758bfb41b2ba85d235c764be75/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=506&bt=253&cs=2&ds=6&ft=td_L48hPobhD12N8Lbv8-Ux_yn.AyF_ODS2&mime_type=video_mp4&qs=5&rc=aWRpZTVoZjZnNzlkMzg3Z0BpMzt5ZDY6ZmY8ZzMzZzczNEAvYF80YWIxNjExLzQwNjItYSM1bGs2cjRnb29gLS1kMS9zcw%3D%3D&l=2022111811532001021702913905CD7F4D&btag=80000&cc=8","https://v25-us.tiktokcdn.com/46b5d3f22c6b74e78020d1b4780abab6/6377c6a6/video/tos/maliva/tos-maliva-ve-0068c799-us/01cea4758bfb41b2ba85d235c764be75/?a=1233&ch=0&cr=3&dr=0&lr=all&cd=0%7C0%7C0%7C3&cv=1&br=506&bt=253&cs=2&ds=6&ft=td_L48hPobhD12N8Lbv8-Ux_yn.AyF_ODS2&mime_type=video_mp4&qs=5&rc=aWRpZTVoZjZnNzlkMzg3Z0BpMzt5ZDY6ZmY8ZzMzZzczNEAvYF80YWIxNjExLzQwNjItYSM1bGs2cjRnb29gLS1kMS9zcw%3D%3D&l=2022111811532001021702913905CD7F4D&btag=80000&cc=26","https://api16-normal-c-useast1a.tiktokv.com/aweme/v1/play/?video_id=v12044gd0000cdr9rcjc77u39anvo880&line=0&is_play_url=1&source=PackSourceEnum_SEARCH&file_id=0d5495307a26444d934ceed27bbfca2f"],"width":576,"height":1024,"url_key":"v12044gd0000cdr9rcjc77u39anvo880_bytevc1_540p_259957","data_size":740911},"is_bytevc1":1,"dub_infos":null,"HDR_type":"","HDR_bit":"","gear_name":"lowest_540_1"}],"duration":22801,"CoverTsp":2.950646875565084,"cover_is_custom":true,"ai_dynamic_cover_bak":{"url_list":["https://p16-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/8d1f68179ed94c638d438b7226f12f0f_1668718064~tplv-dmt-logom:tos-useast5-i-0068-tx/0130ed42025f45b7b2fbe3031616d4cb.image?x-expires=1668855600&x-signature=MNGR2npXURIljMsihH%2BgVwjQgn8%3D&s=SEARCH&se=false&sh=&sc=dynamic_cover&l=2022111811532001021702913905CD7F4D","https://p19-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/8d1f68179ed94c638d438b7226f12f0f_1668718064~tplv-dmt-logom:tos-useast5-i-0068-tx/0130ed42025f45b7b2fbe3031616d4cb.image?x-expires=1668855600&x-signature=4G42oXiESNRGPeMUsBuhFTzMb64%3D&s=SEARCH&se=false&sh=&sc=dynamic_cover&l=2022111811532001021702913905CD7F4D"],"uri":"tos-useast5-p-0068-tx/8d1f68179ed94c638d438b7226f12f0f_1668718064"}},"item_duet":0,"desc_language":"en","group_id_list":{"GroupdIdList0":null,"GroupdIdList1":null},"is_description_translatable":true,"region":"US","misc_info":"{}","hybrid_label":null,"statistics":{"aweme_id":"7167089441457065259","comment_count":22,"digg_count":3735,"play_count":37824,"share_count":4,"lose_count":0,"download_count":8,"forward_count":0,"lose_comment_count":0,"whatsapp_share_count":1,"collect_count":170},"video_labels":[],"cmt_swt":false,"item_react":0,"playlist_blocked":false,"create_time":1668718063,"uniqid_position":null,"prevent_download":false,"with_promotional_music":false,"have_dashboard":false,"aweme_acl":{"download_general":{"transcode":3,"mute":false,"code":0,"show_type":2},"download_mask_panel":{"transcode":3,"mute":false,"code":0,"show_type":2},"share_list_status":0,"share_general":{"code":0,"show_type":2,"transcode":3,"mute":false},"platform_list":null},"mask_infos":[],"search_highlight":[{"positions":[{"begin":3,"end":9}],"field":"search_desc"}],"text_extra":[{"is_commerce":false,"sec_uid":"","start":83,"end":89,"user_id":"","type":1,"hashtag_name":"tesla","hashtag_id":"3702"},{"end":97,"user_id":"","type":1,"hashtag_name":"modelx","hashtag_id":"16199875","is_commerce":false,"sec_uid":"","start":90},{"sec_uid":"","start":98,"end":107,"user_id":"","type":1,"hashtag_name":"teslatok","hashtag_id":"1658490190488578","is_commerce":false},{"type":1,"hashtag_name":"justmakessense","hashtag_id":"69233880","is_commerce":false,"sec_uid":"","start":108,"end":123,"user_id":""},{"type":1,"hashtag_name":"teslamodelx","hashtag_id":"19492645","is_commerce":false,"sec_uid":"","start":124,"end":136,"user_id":""},{"start":137,"end":142,"user_id":"","type":1,"hashtag_name":"cold","hashtag_id":"5277","is_commerce":false,"sec_uid":""},{"is_commerce":false,"sec_uid":"","start":143,"end":148,"user_id":"","type":1,"hashtag_name":"snow","hashtag_id":"6041"},{"sec_uid":"","start":149,"end":163,"user_id":"","type":1,"hashtag_name":"climatesystem","hashtag_id":"7167087277317816366","is_commerce":false},{"is_commerce":false,"sec_uid":"","start":164,"end":176,"user_id":"","type":1,"hashtag_name":"keepclimate","hashtag_id":"7167085139967606826"},{"is_commerce":false,"sec_uid":"","start":177,"end":184,"user_id":"","type":1,"hashtag_name":"winter","hashtag_id":"5220"},{"user_id":"","type":1,"hashtag_name":"colorado","hashtag_id":"9887","is_commerce":false,"sec_uid":"","start":185,"end":194}],"disable_search_trending_bar":false,"is_vr":false,"origin_comment_ids":null,"geofencing_regions":null,"share_info":{"share_title_myself":"","share_signature_desc":"","share_quote":"","whatsapp_desc":"Download TikTok and watch more fun videos:","now_invitation_card_image_urls":null,"share_url":"https://m.tiktok.com/v/7167089441457065259.html?u_code=0&preview_pb=0&language=en&_d=e4fmijj86c189f&share_item_id=7167089441457065259&source=h5_m","share_title":"Check out TeslaTok’s video! #TikTok > ","share_title_other":"","share_link_desc":"","share_signature_url":"","share_desc_info":"TikTok: Make Every Second CountCheck out TeslaTok’s video! #TikTok > ","share_desc":"Check out TeslaTok's video! #TikTok","bool_persist":0},"rate":12,"is_top":0,"is_pgcshow":false,"distribute_type":1,"anchors":null,"content_desc":"","music_end_time_in_ms":22783,"share_url":"https://m.tiktok.com/v/7167089441457065259.html?u_code=0&preview_pb=0&language=en&_d=e4fmijj86c189f&share_item_id=7167089441457065259&source=h5_m","is_relieve":false,"challenge_position":null,"commerce_config_data":null,"green_screen_materials":null,"music_begin_time_in_ms":0,"aweme_id":"7167089441457065259","video_text":[],"nickname_position":null,"without_watermark":false,"cover_labels":null,"question_list":null,"no_selected_music":false,"cha_list":[{"author":{"type_label":null,"cha_list":null,"relative_users":null,"need_points":null,"can_set_geofencing":null,"white_cover_url":null,"user_tags":null,"events":null,"platform_sync_info":null,"geofencing":null,"user_profile_guide":null,"bold_fields":null,"search_highlight":null,"shield_edit_field_info":null,"followers_detail":null,"ad_cover_url":null,"homepage_bottom_toast":null,"mutual_relation_avatars":null,"advance_feature_item_order":null,"advanced_feature_info":null,"can_message_follow_status_list":null,"account_labels":null,"cover_url":null,"item_list":null},"share_info":{"share_url":"https://www.tiktok.com/tag/tesla?_r=1&name=tesla&u_code=0&language=en&_d=e4fmijj86c189f&share_challenge_id=3702&source=h5_m","share_desc":"Check out #tesla on TikTok!","bool_persist":0,"share_title_myself":"","share_desc_info":"Check out #tesla on TikTok!","now_invitation_card_image_urls":null,"share_title":"It is a becoming a big trend on TikTok now! Click here: tesla","share_title_other":"","share_signature_url":"","share_signature_desc":"","share_quote":""},"collect_stat":0,"extra_attr":{"is_live":false},"search_highlight":null,"banner_list":null,"show_items":null,"cha_name":"tesla","desc":"","type":1,"is_pgcshow":false,"hashtag_profile":"","schema":"aweme://aweme/challenge/detail?cid=3702","cha_attrs":null,"view_count":0,"is_commerce":false,"cid":"3702","user_count":0,"connect_music":[],"sub_type":0,"is_challenge":0}],"sort_label":"","collect_stat":0,"has_vs_entry":false,"need_vs_entry":false,"item_stitch":0,"user_digged":0,"author_user_id":6614876484773969926,"group_id":"7167089441457065259","follow_up_publish_from_id":-1,"music":{"album":"Please Do Not Listen to This Album","cover_medium":{"uri":"tos-useast2a-v-2774/3e6d3ae3e2a648aeb41a29edf1aa1693","url_list":["https://p16-amd-va.tiktokcdn.com/img/tos-useast2a-v-2774/3e6d3ae3e2a648aeb41a29edf1aa1693~c5_200x200.jpeg"],"width":720,"height":720},"extra":"{\"aed_music_dur\":54.03,\"apple_song_id\":1499185152,\"beats\":{\"audio_effect_onset\":\"https://sf16-ies-music-va.tiktokcdn.com/obj/tos-useast2a-v-2774/4cb9a208adfd49b8b359300122119e36\",\"beats_tracker\":\"https://sf16-ies-music-va.tiktokcdn.com/obj/tos-useast2a-v-2774/4450af27aabb48ec9fb886ff1940b31c\",\"energy_trace\":\"https://sf16-ies-music-va.tiktokcdn.com/obj/tos-useast2a-v-2774/2c0d50b1b18e4fe68578df2b8c7de3d2\",\"merged_beats\":\"https://sf16-ies-music-va.tiktokcdn.com/obj/tos-useast2a-v-2774/e1327d23c19e4511af9df20322d41ac0\"},\"can_read\":true,\"can_reuse\":true,\"erase_type\":0,\"erase_uid\":0,\"from_user_id\":0,\"has_edited\":0,\"is_ugc_mapping\":false,\"is_used\":0,\"owner_id\":0,\"resource_status\":0,\"review_unshelve_reason\":0,\"reviewed\":1,\"schedule_search_time\":0}","binded_challenge_id":0,"prevent_download":false,"preview_end_time":0,"title":"Mii!","author_deleted":false,"is_audio_url_with_cookie":false,"play_url":{"url_list":["https://sf16-ies-music-va.tiktokcdn.com/obj/tos-useast2a-ve-2774/77438caa76114ae0bda3078a26ea0366"],"width":720,"height":720,"uri":"https://sf16-ies-music-va.tiktokcdn.com/obj/tos-useast2a-ve-2774/77438caa76114ae0bda3078a26ea0366"},"status":1,"owner_handle":"","preview_start_time":0,"shoot_duration":54,"artists":[],"is_author_artist":false,"multi_bit_rate_play_info":null,"commercial_right_type":1,"position":null,"owner_nickname":"","is_original":false,"dmv_auto_show":false,"search_highlight":null,"duration_high_precision":{"duration_precision":54.826,"shoot_duration_precision":54.826,"audition_duration_precision":30,"video_duration_precision":60},"is_play_music":true,"can_not_reuse":false,"id":6793598114851719170,"duration":54,"author_position":null,"strong_beat_url":{"uri":"https://sf16-ies-music-va.tiktokcdn.com/obj/tos-useast2a-v-2774/0d2e8a6e1cf14c47aed86a67e63900f6","url_list":["https://sf16-ies-music-va.tiktokcdn.com/obj/tos-useast2a-v-2774/0d2e8a6e1cf14c47aed86a67e63900f6"],"width":720,"height":720},"audition_duration":30,"lyric_short_position":null,"mute_share":false,"id_str":"6793598114851719170","cover_thumb":{"uri":"tos-useast2a-v-2774/3e6d3ae3e2a648aeb41a29edf1aa1693","url_list":["https://p16-amd-va.tiktokcdn.com/img/tos-useast2a-v-2774/3e6d3ae3e2a648aeb41a29edf1aa1693~c5_100x100.jpeg"],"width":720,"height":720},"collect_stat":0,"offline_desc":"","is_commerce_music":false,"video_duration":60,"tag_list":null,"matched_song":{"performers":null,"chorus_info":{"start_ms":16704,"duration_ms":18816},"id":"6793598105951406081","author":"VooDoo","title":"Mii!","h5_url":"","cover_medium":{"height":720,"uri":"tos-useast2a-v-2774/3e6d3ae3e2a648aeb41a29edf1aa1693","url_list":["https://p16-amd-va.tiktokcdn.com/img/tos-useast2a-v-2774/3e6d3ae3e2a648aeb41a29edf1aa1693~c5_200x200.jpeg"],"width":720}},"is_pgc":true,"author":"VooDoo","cover_large":{"uri":"tos-useast2a-v-2774/3e6d3ae3e2a648aeb41a29edf1aa1693","url_list":["https://p16-amd-va.tiktokcdn.com/img/tos-useast2a-v-2774/3e6d3ae3e2a648aeb41a29edf1aa1693~c5_720x720.jpeg"],"width":720,"height":720},"source_platform":10033,"user_count":268856,"mid":"6793598114851719170","external_song_info":[],"is_original_sound":false,"is_matched_metadata":false},"position":null,"bodydance_score":0,"item_comment_settings":0,"long_video":null,"commerce_info":{"adv_promotable":false,"auction_ad_invited":false,"with_comment_filter_words":false},"need_trim_step":false,"distance":"","is_hash_tag":1,"label_top_text":null,"is_preview":0,"is_ads":false,"status":{"download_status":0,"review_result":{"review_status":0},"aweme_id":"7167089441457065259","allow_comment":true,"private_status":0,"in_reviewing":false,"self_see":false,"is_delete":false,"allow_share":true,"reviewed":1,"is_prohibited":false},"interaction_stickers":[{"text_sticker_info":{"source_height":0.05957943925233644,"text_size":0,"text_color":"#FFFFFFFF","bg_color":"#00000000","text_language":"en","alignment":0,"source_width":0.4205607476635514},"type":18,"index":0,"track_info":"[{\"x\":0.5,\"end_time\":3606.059067,\"p\":-1,\"y\":0.1974,\"h\":0.1792,\"isRatioCoord\":true,\"start_time\":166.666,\"r\":0,\"w\":0.8515,\"s\":1.8593}]","attr":"","text_info":"Something"},{"type":18,"index":1,"track_info":"[{\"x\":0.2993,\"end_time\":3606.060181,\"p\":-1,\"y\":0.2707,\"h\":0.1281,\"isRatioCoord\":true,\"start_time\":681.817017,\"r\":0,\"w\":0.3831,\"s\":1.3295}]","attr":"","text_info":"In My","text_sticker_info":{"bg_color":"#00000000","text_language":"en","alignment":0,"source_width":0.2507788161993769,"source_height":0.05957943925233644,"text_size":0,"text_color":"#FF000000"}},{"type":18,"index":2,"track_info":"[{\"x\":0.5,\"end_time\":3606.060059,\"p\":-1,\"y\":0.3589,\"h\":0.2867,\"isRatioCoord\":true,\"start_time\":1083.333008,\"r\":0,\"w\":0.8063,\"s\":2.9748}]","attr":"","text_info":"Tesla","text_sticker_info":{"alignment":0,"source_width":0.2336448598130841,"source_height":0.05957943925233644,"text_size":0,"text_color":"#FFEA4040","bg_color":"#00000000","text_language":"kn"}},{"text_sticker_info":{"bg_color":"#00000000","text_language":"en","alignment":0,"source_width":0.2102803738317757,"source_height":0.05957943925233644,"text_size":0,"text_color":"#FFFFFFFF"},"type":18,"index":3,"track_info":"[{\"x\":0.3246,\"end_time\":3606.059082,\"p\":-1,\"y\":0.4504,\"h\":0.0964,\"isRatioCoord\":true,\"start_time\":1750,\"r\":0,\"w\":0.2477,\"s\":1}]","attr":"","text_info":"That"},{"type":18,"index":4,"track_info":"[{\"x\":0.5505,\"end_time\":3606.060059,\"p\":-1,\"y\":0.5,\"h\":0.0964,\"isRatioCoord\":true,\"start_time\":1946.968018,\"r\":0,\"w\":0.2368,\"s\":1}]","attr":"","text_info":"Just","text_sticker_info":{"source_height":0.05957943925233644,"text_size":0,"text_color":"#FF000000","bg_color":"#00000000","text_language":"en","alignment":0,"source_width":0.1993769470404984}},{"track_info":"[{\"x\":0.5,\"end_time\":3606.060059,\"p\":-1,\"y\":0.5749,\"h\":0.1456,\"isRatioCoord\":true,\"start_time\":2348.483887,\"r\":0,\"w\":0.7928,\"s\":1.5102}]","attr":"","text_info":"Makes Sense","text_sticker_info":{"source_height":0.05957943925233644,"text_size":0,"text_color":"#FFFFFFFF","bg_color":"#00000000","text_language":"en","alignment":0,"source_width":0.48753894080996873},"type":18,"index":5},{"index":6,"track_info":"[{\"x\":0.5,\"end_time\":10341.19043,\"p\":-1,\"y\":0.1903,\"h\":0.1932,\"isRatioCoord\":true,\"start_time\":6497.779785,\"r\":0,\"w\":0.8575,\"s\":1}]","attr":"","text_info":"Constantly having to heat \nup the car is intensive \non the battery","text_sticker_info":{"source_height":0.15639602803738317,"text_size":0,"text_color":"#FFFFFFFF","bg_color":"#00000000","text_language":"en","alignment":0,"source_width":0.8200934579439252},"type":18},{"type":18,"index":7,"track_info":"[{\"x\":0.5,\"end_time\":15231.640625,\"p\":-1,\"y\":0.1966,\"h\":0.1463,\"isRatioCoord\":true,\"start_time\":11183.404297,\"r\":0,\"w\":0.9073,\"s\":1}]","attr":"","text_info":"Tesla has an option to keep the climate system running","text_sticker_info":{"bg_color":"#00000000","text_language":"en","alignment":0,"source_width":0.8699376947040498,"source_height":0.10952102803738314,"text_size":0,"text_color":"#FFFFFFFF"}},{"type":18,"index":8,"track_info":"[{\"x\":0.5,\"end_time\":17
[...]
